[2016-04-27 17:19] mjanderson09 opened #13 "toolkit.srm.srm.SRM"
Let's make guidelines for our module names so that we don't have multiple names, such as this:

toolkit.srm.srm.SRM

[2016-04-27 17:36] mjanderson09 opened #14 "Latex in SRM documentation not working"
Math formulas are not rendered correctly.

[2016-04-27 23:57] #14 closed, assigned to nobody

[2016-04-28 19:14] mihaic opened #15 "Make test code coverage visible in Jenkins"

[2016-05-02 16:16] mihaic opened #16 "Add continuous integration on Mac OS"

[2016-05-03 17:45] mihaic opened #18 "Test examples"

[2016-05-03 17:46] mihaic opened #19 "dev: Run flake8 on examples"

[2016-05-04 17:23] #13 closed, assigned to nobody

[2016-05-06 02:02] #15 closed, assigned to mihaic

[2016-06-10 22:51] xiazhu opened #24 "pytest installed through "pip install -r requirements-dev.txt" does not work"
Manually install pytest with "pip install -U pytest" worked for me. please update CONTRIBUTING.rst to make sure it works for general users.

[2016-06-10 22:53] xiazhu opened #25 "document for running run-tests.sh was not very clear"
If a user run "run-tests.sh" without firstly install our package, they will get 0 coverage on our source code. Please update CONTRIBUTING.rst to make this clear.

[2016-06-10 22:56] xiazhu opened #26 "please update README file"
Although we renamed this repo from "toolkit" to "brainiak", we are still using old repo name in README.

pip install git+https://github.com/intelpni/toolkit.git

[2016-06-10 23:01] xiazhu opened #27 "please update setup.py to use brainiak"
setup(
    name='toolkit',
    version='0.0.1',
    install_requires=[
        'numpy',
        'scikit-learn',
        'scipy',
    ],

[2016-06-11 05:41] xiazhu opened #28 "test files does not follow flake8 standard"
run-checks.sh currently checks source code under "toolkit" directory only.

Existing unit test python file has flake8 violations.

[2016-06-11 05:50] xiazhu opened #29 "file name under "example" directory does not reflect its functionality"
Rename files under "example" to reflect its functionality will be consistent to scikit-learn.

[2016-06-13 23:49] #28 closed, assigned to nobody

[2016-06-13 23:50] #26 closed, assigned to nobody

[2016-06-13 23:50] #27 closed, assigned to nobody

[2016-06-14 17:44] #29 closed, assigned to nobody

[2016-06-14 22:57] #25 closed, assigned to nobody

[2016-06-14 22:58] #24 closed, assigned to nobody

[2016-06-15 22:06] xiazhu opened #33 "need a better test coverage tool or policy for tests with MPI"
For our distributed codes, some branches are for root (rank 0), some branches are for workers. They are not supposed to be active in the same process. In other words, the highest coverage is not 100% for either root or workers.

Current coverage tool will report coverage from each process, and it requires each process has higher than 90% coverage.  However, depends on distributed codes, sometimes

[2016-06-16 18:40] xiazhu opened #35 "pr-checks.sh should remove newly added environment after checks are done"
With current pr-checks.sh, every time we run pr-checks.sh, a new python environment is created. After the test, the environment will be used by nobody, but it still exits in the system.

It will be better to remove the temporary environment created by pr-checks.sh after the checks are done.

[2016-06-27 18:48] mihaic opened #37 "Use logging in SRM"

[2016-06-27 20:32] TuKo opened #38 "Contributors file is missing description on how to use Logging"
We should add to the contributors description how to log information (and avoid print).

[2016-06-27 22:27] mihaic opened #41 "dev: Document C++ code organization"
FCMA has a `src` subdirectory, other modules don't.

[2016-06-28 17:38] #38 closed, assigned to nobody

[2016-06-28 20:09] mihaic opened #42 "dev: Show source code line numbers in doc build errors"
Docstring line numbers are shown currently, which makes it difficult to see to find the error in the source code.

[2016-06-30 18:18] mihaic opened #44 "Add license headers"

[2016-07-02 22:40] mihaic opened #45 "Use `pip3` instead of `pip` in dev scripts"
Users might have installed `pip` for Python 2 instead of Python 3.

[2016-07-06 16:52] TuKo opened #46 "Missing example for TFA and HTFA"
There is no example showing how to use HTFA and TFA.

[2016-07-06 18:35] mihaic opened #47 "Provide guidelines for hosting data used in examples"
Some example data is on Dropbox, some is on university servers, etc.

[2016-07-07 03:20] TuKo opened #50 "Modify Contributors description for correct bash variables and profile file"
The right file in macos X yosemite for environment variables CC and CXX is .bash_profile and not .profile .
Also the right lines that should be added are:
export CC=clang-omp
export CXX=clang-omp++

[2016-07-07 18:50] #50 closed, assigned to nobody

[2016-07-07 18:53] #45 closed, assigned to mihaic

[2016-07-07 18:54] #35 closed, assigned to nobody

[2016-07-07 18:54] #16 closed, assigned to nobody

[2016-07-07 18:57] #18 closed, assigned to nobody

[2016-07-08 02:28] mihaic opened #55 "Add support for readthedocs.org"
Currently, readthedocs.org does not support `sphinx-apidoc`, which we use:
https://github.com/rtfd/readthedocs.org/issues/1139

[2016-07-12 16:12] mihaic commented on #44
Fixed by PR #53.

[2016-07-12 16:12] #44 closed

[2016-07-13 01:07] mihaic commented on #46
Fixed by PR #57.

[2016-07-13 01:07] #46 closed

[2016-07-13 03:53] mihaic opened #61 "Fix installation from PyPI"
There is a difference in the behavior of `pip install` based on the package specification. When installing form Git, it installs the dependencies before building the wheel. When installing from PyPI, it first tries to build the wheel, and only then it installs the dependencies. Here are relevant excerpts:

`pip3 install -v git+https://github.com/IntelPNI/brainiak@v0.1`
[code]

`pip install -v brai

[2016-07-13 21:35] mihaic opened #62 "Rename `functional_alignment` and `factor_analysis`"
Package names should be short, without underscores, according to PEP 8. See also package names in NumPy, SciPy, and Scikit-learn.

We could use `funcalign` and `factoranalysis`.

[2016-07-14 00:15] mihaic commented on #61
Pip support for [PEP 518 -- Specifying Minimum Build System Requirements for Python Projects](https://www.python.org/dev/peps/pep-0518/) would fix our problem.
https://github.com/pypa/pip/issues/3691

[2016-07-14 01:29] mihaic commented on #61
I am re-tagging this as "enhancement" because it does not really break anything. It only scares the users who might think something is wrong. The installation continues fine, even if the wheel is not built.

[2016-07-14 02:06] mihaic commented on #61
Another argument to leave this be and wait for PEP 518 to be implemented: The latest version of SciPy has the same problem.
[code]

[2016-07-14 17:38] mihaic opened #63 "Have continuous integration detailed results visible to the public"
Either make public the existing Jenkins results or add more servers, e.g., travis-ci.org.

[2016-07-14 17:52] mihaic opened #64 "Add a naming conventionchecker"
E.g., https://github.com/PyCQA/pep8-naming

[2016-07-14 17:53] mihaic opened #65 "Add a docstrings convention checker"
E.g., https://github.com/PyCQA/flake8-docstrings

[2016-07-18 21:00] mshvartsman opened #69 "Expose logp for Bayesian models in brainiak"
SRM and (H)TFA, and Bayesian RSA are all Bayesian models. It would be great if they exposed a method that produces a log-likelihood given some data and parameters. This would make easier a number of things:

- Bayesian model comparison.
- Decomposing the model structure from the estimation machinery for better reuse of either/both.

[2016-07-19 19:13] TuKo opened #70 "Move normal distribution computation to a more general module"
The function in
https://github.com/IntelPNI/brainiak/blob/master/brainiak/hyperparamopt/hpo.py#L138
is general and should be in the module utils or stats.

[2016-07-20 00:30] #62 closed

[2016-07-20 12:46] mihaic opened #74 "Change recommended clang version on MacOS"
Our current recommendation, `clang-omp` was deprecated by Brew. We should switch to the regular `llvm` Brew formula, which now supports OpenMP.
https://github.com/Homebrew/homebrew-core/commit/c57e307172d588046e7319cb2bb12ba1afc31a1d

[2016-07-22 00:20] mihaic opened #78 "Switch from `virtualenv` to `venv` standard library module"

[2016-07-22 00:22] mihaic opened #79 "Use `python3 -m pip` instead of `pip3` in instructions"
This will reduce the chance of the wrong `pip3` being called. The right `python3` still needs to be called, but this is a simpler problem.

[2016-07-22 16:48] mihaic opened #80 "Add more Git workflow documentation for contributors"

[2016-07-25 23:58] yidawang opened #81 "brew install clang-omp"
In README, regarding the requirements of MacOS, "brew install clang-omp" returns "Error: No available formula with the name "clang-omp" because clang-omp has been "removed" from brew.

src: http://stackoverflow.com/questions/33668323/clang-omp-in-xcode-under-el-capitan

[2016-07-26 00:44] xoltar commented on #81
Duplicate of #74

[2016-07-26 00:44] #81 closed

[2016-07-27 23:15] yidawang opened #83 "error in C++ compilation on MacOS"
There are building errors with `pyport.h` using the new `clang`. It is a documented [python bug](http://bugs.python.org/issue10910)

A workaround solution is to edit `pyport.h` file by adding two lines.

The `pyport.h` file is at `/usr/local/Cellar/python3/3.5.2/Frameworks/Python.framework/Versions/3.5/include/python3.5m/` if you use `brew` to install `python3`.

[2016-07-28 21:00] cameronphchen commented on #63
+1 for using travis-ci.org. I would love to see publicly visible CI results, and I can help with setting this up.

[2016-07-28 21:24] mihaic commented on #63
Thanks for the offer to help, Cameron. I added the hook. If you make a pull request with a `.travis.yml`, I will be happy to accept it.

[2016-07-29 02:11] mihaic commented on #83
Fixed upstream:
https://github.com/Homebrew/homebrew-core/commit/84897ff215081998c8bc17cc663320ae50f7ccf4

[2016-07-29 02:11] #83 closed

[2016-07-29 04:49] cameronphchen opened #84 "clang-omp has been removed from homebrew"
https://github.com/Homebrew/homebrew-core/commit/c57e307
Are we still going to use clang-omp in osx given that it has been removed from homebrew?

[2016-07-29 05:38] mihaic commented on #74
Fixed by PR #82.

[2016-07-29 05:38] mihaic commented on #84
Duplicate of #74.

[2016-07-29 05:38] #84 closed

[2016-07-29 05:38] #74 closed

[2016-07-29 17:51] mihaic opened #86 "Create DOIs for major releases"
https://guides.github.com/activities/citable-code/

[2016-08-02 16:44] mihaic commented on #63
Closed by #85.

[2016-08-02 16:44] #63 closed

[2016-08-03 16:05] TuKo commented on #69
@mshvartsman , how would a log-likelihood function would help with model comparison here?
Can you give an expected usage example?

[2016-08-03 23:48] mihaic opened #90 "MANIFEST.in is not sufficient to include files in installation"
https://setuptools.readthedocs.io/en/latest/setuptools.html#including-data-files

[2016-08-04 00:01] mihaic opened #91 "Add maintainer documentation for releasing, etc."

[2016-08-04 00:05] mihaic opened #92 "Remove redundant version number in docs/conf.py, use only setup.py version"

[2016-08-05 22:50] mihaic opened #93 "Add link to Jupyter notebook example in README"
This will immediately show what can be done with our package.

[2016-08-05 22:51] mihaic opened #94 "Add user guide"
I.e., high-level documentation.

[2016-08-10 15:48] TuKo opened #95 "hyperopt does not follow sklearn base classes"
hyperopt implementation does not follow the implementation to be used as most algorithms in scikit-learn.

One should first define an object, e.g.:
optimizer = hpo(a=1, b=2, c=3) # initialization: setting algorithm parameters
And then should call the fit() (or other) function:
optimizer.fit(data,labels,other_params)

Note: in the case of hyperopt the function name should be more a "minimize" than

[2016-08-12 17:11] mihaic commented on #69
@mshvartsman, can you please reply to Javier?

[2016-08-12 17:13] mihaic commented on #86
Done.

[2016-08-12 17:13] #86 closed

[2016-08-12 17:27] mshvartsman commented on #69
For Bayesian model comparison I guess we would need marginal likelihood, not likelihood given data and parameters, so maybe this is not as useful on this front.

For the latter situation I'm imagining something like the following: if I estimate a joint hyperprior over some latent cognitive features of behavioral data and latent factors I could alternate doing MAP estimation on the brain factor mod

[2016-08-15 17:12] mjanderson09 commented on #95
Let's consider sklearn grid search as a template for how this interface should be implemented:

https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/grid_search.py

[2016-08-15 17:58] TuKo commented on #95
I took a look at it, and I think it is really poor.
We should properly design base classes, taking the best from sklearn, but doing better in cases like this one.

[2016-09-14 01:53] #37 closed

[2016-09-16 13:59] #33 closed

[2016-09-16 21:33] yidawang opened #104 "Using CMake to compile pybind11 code"
In current BrainIAK we use regular compilation for C++ code linked via `pybind11`. If you find it necessary to use some more advanced compiling technique such as `CMake`, here is an example: https://github.com/yidawang/brainiak/tree/fcma_cmake

[2016-09-19 15:11] lcnature commented on #69
This is a good idea as I also have plan to offer a model comparison capacity in Bayesian RSA. The simple way is to give BIC or AIC score. Doing cross-validation can be better. But fit() seems to be reserved for giving back labels for testing data instead of giving log-likelihood. What function name would be good?
But anyway I prefer to keep this as lower priority for my code as I have a few other

[2016-09-20 05:02] yidawang opened #106 "has_flag in setup.py doesn't seem to work"
It looks like that any flags you want to check using the `has_flag` method in `setup.py` will return True and then the flag will be added to the compiling.

[2016-09-20 15:04] mihaic opened #107 "Add guidelines for duration of tests ran on PRs"

[2016-09-20 16:54] mihaic commented on #106
That is not my experience. Here is an excerpt from the output of `pip3 install -U --user -v -e .` after adding this line:
[code]
[code]
Can you provide an example?

[2016-09-20 17:30] yidawang commented on #106
I spoke it too absolutely. It always returns True for `-l` stuff. Try `-lbogus` for example.

[2016-09-20 17:33] mihaic commented on #106
In that case, the flag is `-l`, which exists for most (all?) compilers. It is expected to return `True`.

[2016-09-20 17:33] #106 closed

[2016-09-21 17:30] mihaic commented on #107
Travis allows 50 minutes:
https://docs.travis-ci.com/user/customizing-the-build#Build-Timeouts

[2016-09-22 17:03] lcnature opened #109 "Bayesian RSA needs example and a new version dealing with spatial noise correlation"
Working on them now.
Other issues that I need to work on later: add read_spm to utils.ReadDesign

[2016-09-22 17:33] mihaic commented on #109
@lcnature Please add an example as soon as possible.

I should have delayed the PR, but I did not realize it. I am sorry.

[2016-09-22 17:48] lcnature commented on #109
Actually it works better this way. Because I changed the code so much, I also need to modify my previous code which calls brsa. With brsa in the package, it is easy to see what needs to be changed.

[2016-09-22 17:49] mihaic commented on #109
That is good to hear. However, we should not have code without examples.

[2016-09-23 17:29] TuKo opened #112 "Change Random number generator usage and guidelines"
Many methods use random numbers to initialize a structure or run a method.
If many algorithms are ran with the same generator will step one over the other by re-initializing the generator state with a different seed.

The changes required are the following:

- Each method should have an initial random state.
- Algorithms should allow to initialize the state from outside to allow deterministic chec

[2016-09-23 22:38] mihaic opened #114 "Document random number generator policy for developers"

[2016-09-23 22:39] mihaic commented on #112
Please open separate issues for each algorithm that needs fixing. For the documentation, I opened issue #114.

[2016-09-23 22:39] #112 closed

[2016-09-26 18:51] mjanderson09 opened #115 "python34-devel"
I tried to install brainiak on Centos with Python3 installed (not python34-devel) and not the development version. I got this error:

....
    building 'mpi4py.MPI' extension
    /export/swtools/intel/compilers_and_libraries_2016.3.210/linux/mpi/intel64/bin/mpicc -pthread -Wno-unused-result -DDYNAMIC_ANNOTATIONS_ENABLED=1 -DNDEBUG -O2 -g -pipe -Wall -Wp,-D_FORTIFY_SOURCE=2 -fexceptions -fstack-pro

[2016-09-26 18:53] TuKo commented on #115
You should update your intel MPI version to 2017.

[2016-09-26 18:53] mihaic commented on #115
@TuKo No connection.

[2016-09-27 18:22] TuKo opened #117 "Add MacOS Sierra to testing on travis"

[2016-09-28 00:00] #109 closed

[2016-09-29 00:19] mihaic commented on #104
Another possible solution for interfacing with CMake (although with no explicit pybind11 functionality):
https://github.com/scikit-build/scikit-build

[2016-09-29 00:49] mihaic opened #118 "[fcma] sklearn.cross_validation is deprecated"
Please replace its usage with functionality from `sklearn.model_selection`. See:
https://github.com/scikit-learn/scikit-learn/blob/0.18.X/sklearn/cross_validation.py#L40

[2016-09-29 04:56] yidawang commented on #118
This requires `sklearn` to be at least in the version of 0.18. We should impose this at `setup.py` before I make the change.

[2016-09-29 16:57] #118 closed

[2016-09-29 18:24] #92 closed

[2016-09-30 17:22] mihaic opened #123 "Add regression tests"

[2016-10-08 01:11] mihaic opened #129 "Add script to update copyright notice years from Git"
`copyrite` looks like a good candidate:
https://github.com/PCManticore/copyrite

[2016-10-10 19:12] mihaic opened #130 "Document support policy for released versions"
Explain in README that we only address issues that can be reproduced in the latest code in the master branch or in the latest released version.

[2016-10-11 00:03] #115 closed

[2016-10-12 17:18] TuKo opened #134 "Documentation issues with some macros (notes, math, etc)"
There are several issues with the macros and the way documentation is being written.
Some math (latex) is rendered incorrectly: see [SSSRM class description](https://pythonhosted.org/brainiak/brainiak.funcalign.html#brainiak.funcalign.sssrm.SSSRM) for an example.

Also the [notes](https://pythonhosted.org/brainiak/brainiak.funcalign.html#brainiak.funcalign.srm.DetSRM) are not shown correctly

The

[2016-10-13 16:49] lcnature commented on #134
@TuKo It happens to my equations too. I think I just copied my latex text from my paper. How to check the rendering locally before pulling request?

[2016-10-17 17:21] jhutchin opened #136 "Add decision value/classifier confidence output to (real-time) FCMA"
Real-time FCMA output currently only includes binary classifier guess information. Additionally having access to the classifier confidence (e.g. decision value output in SVM) is critical.

[2016-10-17 17:22] yidawang commented on #136
On it

[2016-10-25 15:02] mihaic commented on #136
Fixed by #139.

[2016-10-25 15:02] #136 closed

[2016-10-27 17:58] TuKo commented on #134
@lcnature, you can create the documentation by calling `make` in the docs subfolder.
Then you open the file ./docs/_build/html/index.html with a browser.

[2016-10-27 20:43] mihaic commented on #134
I am working on a PR for this issue.

[2016-10-27 22:03] mihaic opened #142 "[docs] __call__ docstrings are not in HTML docs"
Astropy had the same problem and fixed it; however, they are using their own Sphinx extensions:
https://github.com/astropy/astropy/pull/2135

[2016-10-28 21:49] mihaic commented on #134
Fixed by PR #143.

[2016-10-28 21:49] #134 closed

[2016-11-07 23:50] #117 closed

[2016-11-13 16:23] TuKo commented on #123
What is the difference with #107 ?

[2016-11-14 17:33] mihaic commented on #123
In issue #107 we should settle the maximum duration of the tests we currently use, i.e., tests that are always run by `pr-check`. To close that issue, we could simply add something like "Maximum test duration is 30 minutes." in the contributors documentation.

Here, we should introduce a guideline for additional tests, i.e., tests that take too long to be always run by `pr-check`. To close this is

[2016-11-23 02:35] mihaic opened #149 "Refactor code to remove Pathos"
The Multiprocess package, used by Pathos, should work:
https://pypi.python.org/pypi/multiprocess

Mike tried, but had trouble limiting the number of processes created.

Even better, look into using standard library multiprocessing directly with the Dill serializer (also used by Pathos):
https://pypi.python.org/pypi/dill

Mike tried, but could not obtain the same performance because the serializati

[2017-01-09 07:27] yidawang opened #152 "running error of Searchlight with Anaconda3 and ICC"
Using Anaconda3 and ICC to run the Searchlight example in `examples/searchlight` as `mpirun -np 1 python example_searchlight.py`, I received the following error:
```ImportError: /path/to/anaconda3/lib/python3.5/site-packages/_multiprocess.cpython-35m-x86_64-linux-gnu.so: undefined symbol: __intel_sse2_strcpy```

This error doesn't appear on my Macbook Pro with Anaconda3 and clang.

[2017-01-09 18:18] mihaic opened #153 "Add icc testing to continuous integration"
Will prevent issues such as #152.

[2017-01-09 20:35] yidawang commented on #152
It is an issue about `multiprocess`, which can be fixed by reinstalling it via `pip install -v --global-option=build_ext --global-option="-lirc" --global-option="-lintlc" multiprocess` if you are using ICC/ICPC as the default C/C++ compiler

[2017-01-09 21:05] mihaic commented on #152
Is there no way to set those library options independently of Python, so that they are in effect when installing Multiprocess?

[2017-01-11 19:04] mihaic opened #155 "[searchlight] Return value docstrings missing"
The return values are not documented in the docstrings for
`run_block_function`:
https://github.com/IntelPNI/brainiak/blob/master/brainiak/searchlight/searchlight.py#L260
and `run_searchlight`:
https://github.com/IntelPNI/brainiak/blob/master/brainiak/searchlight/searchlight.py#L378

[2017-01-11 19:33] mihaic opened #156 "[searchlight] sys.exit used in _get_block_data"
https://github.com/IntelPNI/brainiak/blob/master/brainiak/searchlight/searchlight.py#L136
Instead, an exception should be raised (and documented) in `distribute` if the input data does not have the proper shape.

[2017-01-12 23:46] mihaic opened #158 "[fcma] Refactor code according to PR #157 comments"

[2017-01-31 19:32] #142 closed

[2017-02-02 23:45] mihaic commented on #158
Fixed in #160.

[2017-02-02 23:45] #158 closed

[2017-02-08 19:11] mihaic commented on #149
@mjanderson09, can you please also try the pool context manager in the searchlight code, like PR #177?

[2017-02-13 18:09] mihaic opened #180 "[searchlight] Add spherical searchlight"

[2017-02-23 20:23] judithfan opened #185 "error thrown in searchlight example"
Searchlight example (brainiak/examples/searchlight/example_searchlight.py) throws error when trying to execute:

TypeError: distribute() missing 1 required positional argument: 'mask'

Not exactly sure why the mask argument is considered to be missing, since it is provided. Any ideas?

[2017-02-23 21:13] mihaic commented on #185
I cannot reproduce the error by executing the example. From what you wrote, it looks like you are executing code based on the example, not specifically the example (`data_1` instead of `data`). Could you please try to execute the example and let us know if you still see the error? Make sure your BranIAK installation is up to date (`pip install -U brainiak`).

[2017-02-23 21:20] judithfan commented on #185
Hi Mihai,
Thanks. Ah -- I copied in my 2nd attempt to run a snippet of the example code elsewhere, but even when trying to execute the example code exactly (copied into a notebook), I get this error:

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-2-67e38076cae1> in <module>()

[2017-02-23 21:28] judithfan commented on #185
I verified that mask is defined and of the proper dimensionality...

[2017-02-23 21:28] mihaic commented on #185
I still do not know what is happening. Could you please check the version of BrainIAK you have installed using the following command?
`python3 -m pip freeze --all | grep brain`
Also, could you please run the example directly using the following command?
`python3 example_searchlight.py`

[2017-02-23 21:45] judithfan commented on #185
Sure, brainiak version:
brainiak==0.2.dev63+ng56e70ff

Hmm... it appears to run fine as a script until the plotting steps at the very end.

Oh! I think I found the issue. Strangely there is a difference between the sl.distribute syntax at line 72 in the example script in the remote repo (https://github.com/IntelPNI/brainiak/blob/master/examples/searchlight/example_searchlight.py):

sl.distribute([

[2017-02-23 21:54] mihaic commented on #185
You are using an old version of the code. You should update to the latest version, as I suggested in my first message (`pip install -U brainiak`).

As for updating your local Git repository, make sure you are pulling from IntelPNI and not from your fork.

[2017-02-23 21:57] judithfan commented on #185
Hmm, I see. I did run the upgrade, and it appeared to do so successfully. Strange. What should I see when I get the version?

I am pulling from IntelPNI, as I do not have a fork.

[2017-02-23 21:58] judithfan commented on #185
I'll try to re-clone & install from scratch.

[2017-02-23 22:00] mihaic commented on #185
You should see `brainiak==0.4`. Try uninstalling and installing again.
[code]

[2017-02-23 22:06] judithfan commented on #185
Got it -- thanks!

[2017-02-24 03:43] #185 closed

[2017-02-24 20:40] cbaldassano opened #186 "test_sssrm.py crashing run-tests.sh"
When running ./run-tests.sh on my local machine (or running ./pr-check.sh), I receive an error message during the tests on sssrm (error log below). I am running MacOS 10.12 with Python 3.5.2.

pip freeze | grep -qi /brainiak || {
    echo "You must install brainiak in editable mode using \"pip install -e\""`
        `" before calling "$(basename "$0")
    exit 1
}

mpi_command=mpiexec
if [ ! -z $S

[2017-02-24 21:11] mihaic commented on #186
That code has not changed in a while. Do you get the error consistently? Do you have the latest code from master or the latest version on PyPI?

[2017-02-27 03:31] rschmaelzle opened #187 "install latest version (dev)/cannot get cython_blas.pyx"
Hi,
I've been trying out brainiak and did succeed to install via 'pip3 install -U brainiak'. However, I then run into a conflict:

In my site-package folder, the brainiak v0.4 has in its fcma folder some other files (e.g. cython_blas.cpython-36m-darwin.so), which seem to be relics of an older version. Or I am doing sth wrong...

I've been trying all sorts of things, including an install from the l

[2017-02-27 04:12] yidawang commented on #187
`cython_blas` is a cython file which should be in your site-package folder. The `.so` file is the compiled dynamic library which is also normal to be there. Can you verify both files are at `/usr/local/lib/python3.6/site-packages/brainiak/fcma/`? BTW, you said you use conda and python3.5, which doesn't seem to be consistent with the folder name in your error message snippet?

[2017-02-27 05:37] rschmaelzle commented on #187
thanks for the reply.
you wre right about python version. I had misnamed the environment as py35, but it runs python 3.6.

the files cython_blas.cpython-36m-darwin.so and fcma_extension.cpython-36m-darwin.so are in the folder. However, the github-master repo had cython_blas.pyx in the fcma folder, and also the isfc.py file in the top folder. both did not get installed (probably because they are no

[2017-02-27 05:43] yidawang commented on #187
I am sure `cython_blas.pyx` is in v0.4. Can you turn on the verbose flag and redo the installation to see if the files are correctly copied?

You can do `pip install git+https://github.com/IntelPNI/brainiak` to install the latest development version.

[2017-02-27 06:04] rschmaelzle commented on #187
Hi, thanks. I just did, but again cannot obtain cython_blas.pyx. I attach copy of the output and a screenshot of the result folder.

I did already try the tip with pip install git+... . (with pip it throws an error, but pip3 works). In that case I do get the isfc.py, which was recently added. However, even with this version there is still no cython_blas.pyx in the fcma folder (which I assume shoul

[2017-02-27 06:18] yidawang commented on #187
I checked my folder, `cython_blas.pyx` isn't there since the `cython_blas*.so` file has been compiled. Sorry for the confusion.

But, I just installed the latest development code and run the isfc example, everything looks good to me. Can you double check your `cython_blas.cpython-36m-darwin.so` is successfully compiled?

[2017-02-27 06:28] rschmaelzle commented on #187
cython_blas.cpython-36m-darwin.so is in the folder. Does that mean it is successfully compiled?
If I try to run the example, however, it fails at the import of cython_blas. Not exactly sure how to check that.
<img width="759" alt="screen shot 2017-02-27 at 1 23 25 am" src="https://cloud.githubusercontent.com/assets/7194492/23350868/83b14c22-fc8b-11e6-9738-688539e507c9.png">

[2017-02-27 06:32] yidawang commented on #187
try `otool -L cython_blas.cpython-36m-darwin.so`?

[2017-02-27 06:44] rschmaelzle commented on #187
ok, just did. it gives me this:
(pybrainiak) cas3401schmaelzle:fcma Ralf$ otool -L cython_blas.cpython-36m-darwin.so
cython_blas.cpython-36m-darwin.so:
	/usr/local/opt/llvm/lib/libomp.dylib (compatibility version 5.0.0, current version 5.0.0)
	/usr/lib/libSystem.B.dylib (compatibility version 1.0.0, current version 1226.10.1)
(pybrainiak) cas3401schmaelzle:fcma Ralf$
will look into it. best, r

[2017-02-27 06:45] yidawang commented on #187
hmmm. Everything looks good to me. We may need fresh eyes...

[2017-02-27 06:48] rschmaelzle commented on #187
ok, thanks I will try some things and search a bit.

[2017-02-27 07:15] rschmaelzle commented on #187
I found the mistake. Sorry, but it turned out to be entirely on my side. The kernel from which I ran the notebook was 3.6, but not the right environment that installed brainiak. So I had to get that kernel added to the notebook, which is cumbersome of its own, but again, did not seem to interact with brainiak. For the record, this was what got it solved:

best, r

[2017-02-27 07:15] #187 closed

[2017-02-27 17:32] cbaldassano commented on #186
Hmm, this was happening consistently but after the recent merge it seems to have resolved. I'll close this as nonreproducible for now.

[2017-02-27 17:32] #186 closed

[2017-02-27 18:54] mihaic opened #190 "Consolidate I/O"
At the moment, several modules have I/O functionality. We should refactor the code to consolidate the I/O functionality in a new coherent package called `brainiak.io`.

[2017-03-06 18:07] yidawang opened #195 "the shape options of Searchlight are limited"
Currently, the shape options that the Searchlight allows are limited to only cubes. It would be nice if it also supports spheres and cubes will additional voxels at each face.

[2017-03-07 01:32] mihaic commented on #107
Unless someone objects, I will add a 1-minute maximum test duration per package on a laptop. Considering that Travis allows 50 minutes, this should give us some room for expansion.

[2017-03-27 19:26] jamalw opened #200 "Broadcast variable should be optional"
Without specifying broadcast variables you get an error:

AttributeError: 'Searchlight' object has no attribute 'bcast_var'

Sometimes, there is no need to specify a broadcast variable so we should have the option to not have to specify it.

[2017-04-13 19:03] allisonjberman commented on #187
@rschmaelzle I think I'm having the same issue. I tried what you posted, but I am still unable to import: from . import cython_blas as blas
import brainiak.eventseg.event

Is there anything else you did? Thanks!

[2017-04-13 21:04] rschmaelzle commented on #187
@allisonjberman i am afraid I don't fully remember. Are you sure you have all the files on your system (i.e. the bleeding edge version and can see the cython_blas files? - i only vaguely remember there was sth with versions/master branch etc..).
If you have those (which I had finally managed), then the critical issue was activating the right environment (i.e. the 3.6 version) and running the noteb

[2017-04-14 00:04] mihaic commented on #187
@allisonjberman, I would be happy to chat on Gitter if you would like to troubleshoot your installation:
https://gitter.im/IntelPNI/brainiak

[2017-04-24 16:51] #107 closed

[2017-04-24 22:43] mihaic commented on #152
Have you had the change to look at setting the options? One way to deal with the issue and others that may arise with ICC is to create a Q&A document.

[2017-04-25 00:18] #79 closed

[2017-04-25 18:12] #78 closed

[2017-04-26 18:57] mihaic opened #216 "[dev] Test installation from sdist instead of Git in pr-check"
In pr-check, we are currently testing BrainIAK using an editable-mode installation of the Git working tree. However, what we are most interested in is subtly different: testing the installation from PyPI as experienced by most users.

Instead, pr-check should create an sdist, install it, and test it. This will prevent potential problems with our code that creates the sdist, e.g., missing data file

[2017-04-28 18:06] #80 closed

[2017-05-11 21:26] #114 closed

[2017-05-22 20:55] mjanderson09 commented on #200
Thank you Jamal. This was resolved in #221

[2017-05-22 20:55] #200 closed

[2017-05-23 02:08] jamalw commented on #200
Awesome!

- Jamal

On Mon, May 22, 2017 at 4:55 PM, Michael Anderson <notifications@github.com>
wrote:

[2017-06-05 16:48] lcnature opened #227 "instruction for updating package, installing brainiak in anaconda, and ways to easily get examples"
I realize that for users who are less familiar with python, it might not even be intuitive of how to update brainiak package. It might be worth adding a few lines of this in the readme.

Also, is it easier for new python users to use anaconda? Do we need instruction of how to install brainiak if one goes with anaconda?

And I think it might not be intuitive for users who just installed brainiak to

[2017-06-05 16:51] mihaic opened #228 "Document usage of examples"
How are users supposed to get the examples? Via git? Should we provide a link to an archived version?

[2017-06-05 16:52] mihaic opened #229 "Document update procedure"

[2017-06-05 16:54] mihaic commented on #227
See issues #228 and #229 for the parts about examples and updating. The current installation instructions work for Anaconda users.

[2017-06-05 16:54] #227 closed

[2017-06-05 17:20] lcnature commented on #229
Is it possible to have some script in brainiak that checks whether the version of brainiak installed is significantly old? Partially related to this: a user pointed to me a bug which I fixed long time before and we found out that he was using a previous version. It might be that pip has a delay in updating its archive. But it would be nice in future if we can give a warning to a user who is using

[2017-06-05 17:25] mihaic commented on #229
Pip already supports this:
https://pip.pypa.io/en/stable/reference/pip_list/#cmdoption-o
[code]

[2017-06-05 17:31] lcnature commented on #229
I see, I guess I was asking the possibility of automatically checking this
for the user whenever a module in brainiak is imported. Users might not
want to often check version manually, or may not be aware that a bug exists
in the version he/she is using.

Mingbo Cai

On Mon, Jun 5, 2017 at 1:25 PM, Mihai Capotă <notifications@github.com>
wrote:

[2017-06-05 17:37] mihaic commented on #229
I agree that it would be nice to be notified of new versions, but this type of automatic checking belongs to Pip, not BrainIAK (and all other Python packages).

[2017-06-05 17:39] lcnature commented on #229
I see. Thanks!

Mingbo Cai

On Mon, Jun 5, 2017 at 1:37 PM, Mihai Capotă <notifications@github.com>
wrote:

[2017-06-07 18:54] #229 closed

[2017-06-07 23:01] mihaic commented on #195
Fixed by #221.

[2017-06-07 23:01] #195 closed

[2017-06-07 23:03] mihaic commented on #180
@mjanderson09, the diamond shape in #221 is a spherical mask, right?

[2017-06-07 23:07] mihaic commented on #180
@mjanderson09, nevertheless I guess our users want an Euclidean-distance sphere as well, so I will leave this issue open.

[2017-06-09 17:35] #93 closed

[2017-06-09 17:35] mihaic commented on #228
Fixed in #231.

[2017-06-09 17:35] #228 closed

[2017-06-14 23:53] mihaic commented on #149
Fixed by #225.

[2017-06-14 23:53] #149 closed

[2017-06-21 04:44] YSanchezAraujo commented on #156
@mihaic are you saying the exception should be raised [here](https://github.com/IntelPNI/brainiak/blob/master/brainiak/searchlight/searchlight.py#L283) instead of [here](https://github.com/IntelPNI/brainiak/blob/master/brainiak/searchlight/searchlight.py#L217)

[2017-06-21 05:13] mihaic commented on #156
@YSanchezAraujo, thanks for looking into this issue.

Indeed, I am saying that an exception should be raised in `distribute`, such that the user code can decide what to do, instead of exiting the program as we are doing now. This is the approach we are using everywhere else in BrainIAK.

In practice, in addition to raising an exception in `_get_block_data`, the exception should be caught and a new

[2017-06-21 17:08] YSanchezAraujo commented on #156
thanks for the response, some questions:

is the `mask` argument guaranteed to be a numpy array, and or the 4d arrays inside `subjects`, should there be an instance check and maybe a `np.array(<argument>)` if `isinstance(<argument>, np.ndarray)` returns false?

[2017-06-21 17:19] mihaic commented on #156
We should also check `mask`. And arguments should be `np.ndarray` instances. It is better if users explicitly apply `np.array` to other data structures themselves and deal with potential issues.

[2017-06-23 17:25] #156 closed

[2017-06-29 18:41] mihaic opened #237 "brsa: Warnings should not be ignored without justification"
It would be best to remove the filter. If not possible, please add an explanation and restrict the filter to the scope where it is needed.
https://github.com/IntelPNI/brainiak/blob/master/brainiak/reprsimil/brsa.py#L40

[2017-06-29 20:14] lcnature commented on #237
Thanks. Just did it in the current PR being reviewed.

[2017-07-12 17:23] lcnature opened #238 "D and F in reprsimil.brsa should be flipped or renamed to something else."
These letters have been confusing to code readers. Will do in a future PR.

[2017-07-19 18:38] mshvartsman opened #241 "BRSA/GBRSA `score` and `transform` should have option to use same model"
In BRSA/GBRSA the `score` and `transform` functions use assumptions on X and X0 that do not exist in the fit method (namely that both X and X0 are AR1). Additionally, `score` and `transform` perform a different marginalization than for the likelihood used in `fit`.  Empirically, this performs better for `transform` (as per @lcnature) and doesn't require re-estimation of the nuisance regressors (fo

[2017-07-19 18:41] mihaic commented on #237
Fixed by #239.

[2017-07-19 18:41] #237 closed

[2017-07-25 18:56] mihaic opened #246 "All files should use the same line separators"
We have a mixture of Unix and Windows at the moment.

[2017-07-28 16:21] mihaic opened #249 "Create scripts for making releases"
Potentially using Invoke:
https://pypi.python.org/pypi/invoke
as used by Pip and others:
http://pip.readthedocs.io/en/stable/development/#release-process

[2017-08-03 15:23] mihaic opened #251 "searchlight: Add minimum percentage of masked voxels"
Currently, we run the searchlight function on all voxels that have at least one active neighbor according to the mask. Some users are accustomed to setting a higher minimum required percentage of active neighboring voxels, e.g., 50%. We should offer an option.

[2017-08-03 17:18] hcchang73 commented on #251
Such an option will definitely be useful to me!

[2017-08-04 17:29] mihaic commented on #251
While implementing this, I realized it is fits better in the searchlight function itself. The function has access to the mask, so it can easily test the proportion of active voxels and return `None` if it less than the desired minimum. If adding it to the searchlight framework, it becomes an extra parameter to pass around, which makes the API convoluted. What do you think, @hcchang73, @mjanderson0

[2017-08-04 18:12] hcchang73 commented on #251
It sounds good to me.
We might need a default value, e.g. 50%.

Best,
 -----------------------------------------------------------
張惠娟
Claire Hui-Chuan Chang
Princeton Neuroscience Institute
huichuan@princeton.edu
+12017458684

On Fri, Aug 4, 2017 at 1:29 PM, Mihai Capotă <notifications@github.com>
wrote:

[2017-08-04 18:24] mihaic commented on #251
Here is an example of to better illustrate what I have in mind:
[code]
This way, `sl` does not need to know about the `0.5`.

[2017-08-04 21:52] #90 closed

[2017-08-07 19:27] hcchang73 commented on #251
Hello, Mihai

This looks fine to me, as long as it's easy for the user to access or even
change the threshold.
It means that the definition of "searchlight_function_with_threshold" is
easy to find or threshold is an explicit argument.

Best,
 -----------------------------------------------------------
張惠娟
Claire Hui-Chuan Chang
Princeton Neuroscience Institute
huichuan@princeton.edu
+12017458684

[2017-08-09 20:48] mihaic opened #253 "dev: Some modules are missing __all__ variable"
All public names in public modules should be listed in `__all__`.

[2017-08-09 23:50] mihaic opened #254 "utils: center_mass_exp has no tests"

[2017-08-10 17:05] mihaic opened #255 "searchlight: Use mpi4py capital letter methods"
This should speed up distributing the data and collecting the results. However, I expect the overall performance gain to be small.

[2017-08-10 20:38] mihaic commented on #91
Fixed by PR #248.

[2017-08-10 20:38] #91 closed

[2017-08-12 00:22] #251 closed

[2017-08-13 19:51] jeremymanning opened #259 "factoranalysis MPI error when fitting HTFA to datasets with 3+ subjects on a single machine"
When fitting HTFA to a dataset with >2 nifti files, the code throws the following exception:
[code]

Here's a [Jupyter notebook](http://discovery.dartmouth.edu/~jmanning/pniintel/htfa_mpi_error.ipynb) and a [docker container](https://github.com/Summer-MIND/mind-tools) for reproducing this error.  The notebook shows that HTFA runs successfully when fitting a dataset with 2 subjects, but then errors

[2017-08-14 16:44] mihaic commented on #259
Thank you for the detailed report. We are looking into it.

[2017-08-14 17:02] #130 closed

[2017-08-14 18:34] xiazhu commented on #259
In HTFA, there is an input parameter n_subj, the default value is 2. When running HTFA with different number of subjects, please configurable this parameter.  For example, when a dataset contains 3 subjects, please use htfa = HTFA(K=5,n_subj=3) rather than htfa = HTFA(K=5)

[2017-08-14 18:52] jeremymanning commented on #259
could we automatically set the `n_subj` parameter based on len(input), when `fit` is called?

[2017-08-14 19:56] xiazhu commented on #259
we cannot. with MPI, each process knows how many subjects it gets, but does not know how many other process get.

[2017-08-14 22:13] mihaic commented on #259
@xiazhu, I think we should remove the default value for `n_subj`, given that I do not see any reason why `2` (or any other value) makes sense. What do you think?

[2017-08-14 22:49] xiazhu commented on #259
@mihaic yes, works fine for me.

[2017-08-15 00:14] #259 closed

[2017-08-15 00:20] mihaic opened #261 "reprsimil: Refactor tests to remove noqa"
We started checking the code in `tests` using `flake8` in PR #258. At the same time, we added `noqa` comments to skip checks for some code that was not trivial to fix. We need to refactor the code and remove the `noqa` comments.

[2017-08-15 00:22] mihaic opened #262 "searchlight: Test function is too complex"
Refactor and remove `noqa` comment.

[2017-08-30 16:00] #261 closed

[2017-09-18 15:51] hcchang73 opened #265 "searchlight: outputs more than a 3d array?"
Hello,

I use searchlight to compare the activation pattern in each cube to a predicted pattern (correlation).
To do my statistic analysis, I also permute the data for 1000 iterations to get the null distribution.
My problem is that, the output of searchlight is a 3D imaging, e.g. z-value, but I need more than one outputs.
For example, I might need the r-value, the z-value, and the std of the null

[2017-09-18 19:03] mihaic commented on #265
The searchlight result can contain arbitrary (pickle-able) Python objects. So you could return a tuple containing all the values you are interested in from your searchlight function.

[2017-09-18 21:55] hcchang73 commented on #265
I tried and failed.
Could you give me an example.
And below is my codes:

...     fmri = np.array(fmri)
...     fmri = fmri.reshape((-1,fmri.shape[-1]))
...     fmri=fmri[~np.isnan(fmri).any(axis=1)] # remove rows containing NA
...     fmriSim = np.corrcoef(fmri,rowvar=0)
...     r_p = np.corrcoef(np.concatenate(fmriSim),np.concatenate(textSim))[0,1]
...
...     np.random.seed(0)
...     r_perm_ho

[2017-09-18 23:17] mihaic commented on #265
Looking at the last line in the traceback you posted (`outmat[i, j, k] = outlist[cnt]`), I think you are using an old version of BrainIAK. Could you please upgrade before continuing testing?

Finally, note that `run_searchlight` will return a single array that has multiple values in each element, as opposed to multiple arrays, so you will not be able to write `r, std, z = sl.run_searchlight(rsa_pe

[2017-09-19 13:43] hcchang73 commented on #265
Ur...So what function should I use instead of "run_searchlight??"

[2017-09-19 16:21] mihaic commented on #265
You should use `run_searchlight`. As you saw, the output is a 3D array. Each element of that array is a tuple containing `r_p, std, z`, the elements you return in your searchlight function, `rsa_perm`.

[2017-09-19 17:06] hcchang73 commented on #265
I finally got it right!
The problem with my testing is that the mask I used contains NaN.
Therefore, only one NaN value is returned.
It works now.

Thanks a lot! :)

[2017-09-19 17:09] mihaic opened #267 "searchlight: Add example with multiple return values"
It is not trivial to deal with the output array containing tuples (see issue #265); an example would help.

[2017-09-19 17:10] mihaic commented on #265
Happy to help. :)

FYI, I created another issue (issue #267) about adding an example that deals with multiple return values to make it easier for others in the future.

[2017-09-19 17:10] #265 closed

[2017-09-19 17:45] hcchang73 commented on #267
Ur...Now I am having problem saving the results, since the outputs is a 3D array in which some element is arrays with 3 values and some are just an NaN.
Error message as below:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
OSError: cannot write object arrays to a file in binary mode

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ValueError: se

[2017-09-19 18:25] mihaic opened #268 "docs: Generate notebook outputs for web display"
Currently, we do not show notebook outputs. It would be helpful to do so. However, we do not want to store the outputs in Git because they pollute diffs.

We should investigate the solution used by Scikit-learn:
* No output in Git:
https://github.com/scikit-learn/scikit-learn/blob/master/examples/datasets/plot_digits_last_image.py
https://github.com/scikit-learn/scikit-learn.github.io/blob/master/

[2017-09-19 18:28] mihaic commented on #267
@mjanderson09, can you please look into this?

[2017-09-20 15:35] hcchang73 commented on #267
I saved the data as a matlab mat file by the following scripts.
But it's not the most elegant way to do it:

_np.save('simMat_segment_rad'+str(rad),outputs)

outputs2=np.reshape(outputs,61*73*61)
del outputs
outputs3=np.empty((0,45,45))
keptvox=np.empty((0))

for i in range(0,outputs2.shape[0]):
    if outputs2[[i]]!=None and np.nansum(np.hstack(outputs2[[i]].flat))!=0:
            output_temp=np.

[2017-10-16 18:40] mihaic opened #272 "Add Dockerfile"
This will make it easier for users to experiment with BrainIAK.

The image used at the Methods in Neuroscience at Dartmouth summer school looks like a good starting point:
https://github.com/Summer-MIND/mind-tools/blob/master/Dockerfile

[2017-10-16 20:18] mihaic opened #273 "Add documentation for using the examples"
Mention a few common issues with Jupyter, such as selecting Python installation to use.

[2017-10-17 18:59] yidawang commented on #272
I agree that this is a good way to relieve the installation pain. However, what about the multi-node usage of BrainIAK?

[2017-10-17 20:21] mihaic commented on #272
The use case for Docker is experimenting with BrainIAK as a new user, not running BrainIAK on a regular basis. Therefore, I think it is fine to not offer multi-node support.

[2017-10-23 17:25] mihaic opened #274 "Add workaround for Travis brew error"
See Travis issue:
https://github.com/travis-ci/travis-ci/issues/8552

[2017-10-23 20:52] mihaic commented on #272
I uploaded a handcrafted image on Friday:
https://hub.docker.com/r/brainiak/brainiak/

I am re-purposing this issue for adding a Dockerfile for building the image consistently.

[2017-10-23 23:18] #274 closed

[2017-10-25 14:54] jeremymanning opened #278 "add a simplified route to installation"
I'd like to be able to install brainiak using `pip install brainiak`.  However, there are several additional steps required (that seem in practice to fail often on unclean systems, and sometimes even on clean ones).  For example on Macs, my understanding is that homebrew, xcode, llvm, cmake, and mpich are all needed to compile the optimized C++ parts of the toolbox (e.g. system-specific binaries a

[2017-10-27 17:06] #272 closed

[2017-10-28 19:47] QihongL commented on #254
Hi, I am learning about Brainiak. I might be able to contribute every once in awhile, so I am interested in solving this issue to get familiarized with the process.

I am slightly confused about the way `center_mass_exp ` deals with negative `a` and/or `b`. For example, when `a` and `b` to be negative, exponential should have zero mass. I thought this function should return `(a+b)/2`, or simply re

[2017-10-29 01:45] mihaic commented on #254
Hello, @QihongL! Thank you for your interest in BrainIAK. Any contribution is appreciated.

@lcnature, could you please chime in?

[2017-10-29 02:32] lcnature commented on #254
@QihongL
Thanks for pointing this out! I forgot to consider the case.
So I think if b is smaller or equal than zero, then an error should be thrown out.
If a is smaller than 0 but b is not, then this seems fine, we can set a to 0 and do the same calculation as before.

[2017-10-29 16:25] QihongL commented on #254
Ah, I thought you wouldn't allow `a<0`. I see... Still, if `a < 0`, it might suggest the user doesn't know what this function is trying to do. I guess it makes sense to at least throw a warning in this case? For example, the warning message can remind the user to simply set `a = 0`.

[2017-10-29 17:44] lcnature commented on #254
@QihongL Good point! In that case, maybe we should just enforce a>=0 and throw an error if not.

[2017-10-29 17:47] lcnature commented on #254
fixed!

[2017-10-30 21:30] manojneuro opened #285 "Install issue on Mac OS X 10.12.6"
Hi,

I tried installing BrainIAK on a new Mac. It did not finish with "Successfully Installed". I am attaching the log for your reference.
[biak_nstall_fail.txt](https://github.com/brainiak/brainiak/files/1428855/biak_nstall_fail.txt)

Thanks,
Manoj

[2017-10-30 21:47] mihaic commented on #285
Hello, Manoj!

It looks like you are using a combination of Brew and Conda packages. I think it would be best to try one or the other, not a combination. I suggest you try Brew, since we already provide step-by-step instructions in the BrainIAK README. In case you actually installed Python from Brew and intended to use that for the BrainIAK installation, I suggest you use change your `PATH` so Bre

[2017-10-30 22:23] mihaic opened #286 "Publish Python wheels"

[2017-10-30 22:28] mihaic commented on #278
I agree with the need to simplify installation. We are working on it.

In fact, we have already decided to offer Python wheels, which I think will help (see issue #286, which I should have opened a couple of weeks ago).

Meantime, consider our Docker image:
https://github.com/brainiak/brainiak#docker

[2017-10-30 22:40] mihaic commented on #286
See the Matplotlib setup:
https://github.com/MacPython/matplotlib-wheels#how-it-works

[2017-10-31 13:42] manojneuro commented on #285
Okay thanks. I'll give this a shot.

I had used Anaconda for using Jupyter notebooks, so maybe thats why the mixup.

[2017-10-31 13:46] manojneuro commented on #285
Hi Mihai,

I got one additional error (something about TFA, see below) but the end status said, "Successful Install". Is this good?

Install Log:
=============================================
 **brainiak/factoranalysis/tfa_extension.cpp:24:10: fatal error: 'pybind11/pybind11.h' file not found
  #include <pybind11/pybind11.h>**
           ^~~~~~~~~~~~~~~~~~~~~
  1 error generated.
  error: command

[2017-10-31 14:20] mihaic commented on #285
Yes, the installation was successful. Closing the issue.

[2017-10-31 14:20] #285 closed

[2017-11-03 00:54] #254 closed

[2017-11-06 09:14] danielsuo opened #289 "dtype in EventSeg Cython should be float"
Code [here](https://github.com/brainiak/brainiak/blob/master/brainiak/eventseg/_utils.pyx) will fail on the following example

[code]

We get the following error:

[code]

[2017-11-06 09:14] danielsuo commented on #289
Fix could be simple, but I'm not aware of the full range of datatypes that masked_log should accept or what the casting behavior should be.

[2017-11-06 09:15] danielsuo commented on #289
@cbaldassano

[2017-11-06 16:17] cbaldassano commented on #289
I believe that the current code only needs masked_log to support floats (it is called from the _log function), so Daniel's suggested fix of just changing the datatype explicitly to float should be fine.

[2017-11-06 20:56] davidt0x opened #291 "Searchlight: Default pool_size=None might not be a good idea for HPC systems"
Hi,

I have been trying to track down reasons for large memory requirements of the searchlight code on research computing clusters at Princeton. I have done the testing on della but this would probably be a common problem on many HPC systems. It seems the default value for the argument pool_size in run_searchlight function is None. This will cause the worker threads to utilize all cores on a machi

[2017-11-06 22:11] mihaic commented on #291
@davidt0x, thanks for the effort to get BrainIAK going on Princeton clusters.

The current implementation gives good performance on laptops without extra configuration and without MPI. At the same time, it does not penalize cluster performance, if the properly configured. Having said that, I think there is room for discussion, so I am inviting people to share their thoughts.

[2017-11-07 01:33] Wildcarde commented on #291
Would it be possible for the system to test the value of `cat /proc/$$/status | grep Cpus_allowed_list` or similar at startup (if it exists) to see if they have any restrictions on cpu count?

[2017-11-07 21:42] #289 closed

[2017-11-07 23:03] mihaic commented on #291
@Wildcarde, what do you think about PR #293?

[2017-11-07 23:33] Wildcarde commented on #291
Seems like it should cover it based on the docs.

[2017-11-10 15:49] davidt0x commented on #291
I looked at this patch and how it would work on della. It doesn't seem like it will work because apparently os.sched_getaffinity is not available on all systems. Della is apparently one of those systems.

[code]

I did a little research and this seems like a commonly occurring issue. The library psutil and the following code snippet do seem to work on della at least:

[code]

This is with three co

[2017-11-10 16:00] davidt0x commented on #291
Maybe something like this is even better:

[code]

I adapted this from code I found in the Python perf module [https://github.com/haypo/perf/blob/master/perf/_collect_metadata.py](https://github.com/haypo/perf/blob/master/perf/_collect_metadata.py)

Dave

[2017-11-10 16:01] davidt0x commented on #291
Finally, maybe it could print a warning if it is defaulting to None.

[2017-11-10 17:38] mihaic commented on #291
The only problem I see with Psutil is that it does not offer wheels. This will be a problem when we start offering BrianIAK wheels (see issue #286).

What OS do you have on Della?

[2017-11-10 17:58] Wildcarde commented on #291
Della is a Centos 7 based system.

[2017-11-10 18:08] mihaic commented on #291
What Python installation are you using. I tried on a CentOS 7 machine and the following works on both Python from EPEL and Anaconda:
[code]

[2017-11-10 18:14] davidt0x commented on #291
Anaconda as well. Very strange, it is hard to find anything in the documentation regarding where and why it is missing.

[2017-11-10 18:15] mihaic commented on #291
You are using Python 3, not 2, right?

[2017-11-10 19:27] davidt0x commented on #291
yeah, i tried with 3.6, it doesn't work in either 3 or 2.

[2017-11-10 23:32] mihaic commented on #291
See PR #296.

[2017-11-13 18:17] mihaic commented on #291
The original problem was solved (see https://github.com/brainiak/brainiak/pull/296#issuecomment-343982419).

[2017-11-13 18:17] #291 closed

[2017-11-16 14:22] danielsuo commented on #278
What's the status on Python wheels? I can help!

[2017-11-16 14:27] danielsuo commented on #286
This looks like a popular [option](https://github.com/joerick/cibuildwheel)

[2017-11-16 17:48] mihaic commented on #286
`cibuildwheel` seems too simple to believe. If you want to try it and it works, I'm all for it!

[2017-11-16 22:09] danielsuo commented on #286
Ignore earlier commit. I'll check it out tomorrow during the long meeting :)

[2017-11-17 20:14] CameronTEllis opened #300 "Improve drift estimation in fmrisim noise_calc"
Currently the magnitude of the drift is estimated in an overly-simplistic way:  all voxels are meaned across space and the size of the standard deviation through time is the metric of drift. A better estimation procedure would be to run an FFT on the time-course of voxel activity to estimate both the period and the magnitude of the drift.

[2017-11-17 20:19] CameronTEllis opened #301 "Make convolve_hrf in fmrisim more sensitive to issues about downsampling"
Currently convolve_hrf simply downsamples the event time-course to give event weights for each volume acquisition. However, this means that for very brief events (less than the duration of an acquisition) then this event will be ignored. This behavior may or (most likely) may not be desired but currently there is little explanation of this. Possible solutions include downsampling after the convolu

[2017-11-17 21:08] mihaic commented on #301
@CameronTEllis, if you document the behavior we can downgrade this issue from `bug` to `enhancement`.

[2017-11-17 22:01] danielsuo commented on #286
Building wheels is OK, but installing in virtual environments with compiled code not so much.

```cibuildwheel``` is doing something really simple: for each OS / version of python, install dependencies, build wheel, inject / repair shared library paths (via ```auditwheel``` and ```delocate``` for Linux and MacOS, respectively).

However, these library paths get messed up once you try to install th

[2017-11-17 22:02] danielsuo commented on #286
A longer discussion of the issue [here](https://stackoverflow.com/questions/23916186/how-to-include-external-library-with-python-wheel-package)

[2017-11-27 18:12] TuKo opened #303 "Update SS-SRM paper reference"

[2017-11-27 20:17] TuKo opened #304 "Theano-MKL changes break SS-SRM tests due to error"
Theano with MKL 2018 requires to define the environment variable MKL_THREADING_LAYER=GNU to run.
Therefore the ss-srm test is failing.

[2017-12-04 19:22] danielsuo opened #307 "Create FAQ page"
Per @manojneuro

[2017-12-05 01:27] mihaic commented on #180
@mjanderson09, `_apply_mask_and_get_affinity` in Nilearn `nifti_spheres_masker` is a bit unrelated because it uses real-world distance, not voxel distance, but I'll leave it here for reference:
https://github.com/nilearn/nilearn/blob/master/nilearn/input_data/nifti_spheres_masker.py#L22

[2017-12-06 01:03] #304 closed

[2017-12-06 01:46] #303 closed

[2017-12-11 18:11] mihaic commented on #301
@CameronTEllis, are you on this?

[2017-12-11 20:55] CameronTEllis commented on #301
I believe I resolved this issue with my most recent pull request

On Mon, Dec 11, 2017 at 1:11 PM, Mihai Capotă <notifications@github.com>
wrote:

--

*Thank you,*

*Cameron Ellis*

*PhD Candidate (Turk-Browne lab) Department of Psychology Princeton
University Peretsman-Scully Hall, Room 321 Princeton, NJ 08544 p:
609.258.7493*

[2017-12-12 18:24] manojneuro opened #311 "Add "Need Help" button as a top link on the Home Page"
Hi,

Currently the "Need Help" button is embedded towards the bottom of the brainiak Home page. It would make it easier for users to know where to log issues etc. to see the link on top.

Thanks,
Manoj

[2017-12-12 18:25] mihaic commented on #311
Please open an issue at https://github.com/brainiak/brainiak.github.io and close this one.

[2017-12-12 18:28] #311 closed

[2017-12-12 18:28] manojneuro commented on #311
Transferring issue to brainiak website list.

[2017-12-12 18:43] TuKo opened #312 "Add automatic test to check that there is a news snippet for each PR"
Not sure if and how this is possible but we should check automatically for this.

[2017-12-12 20:04] danielsuo opened #313 "Consider converting brainiak to a pkgutil namespace package"
This way, other ```brainiak``` projects can have decoupled repos / release cycles. Documentation [here](https://packaging.python.org/guides/packaging-namespace-packages/).

One unresolved issue that @mihaic and I were discussing: namespace packages do not allow any other code to be run in ```brainiak/__init__.py```, which is problematic for checking a user's Python version number. This is if ```br

[2017-12-12 20:05] danielsuo commented on #313
So we have everything in one place, the only change required (version checking aside) is replacing the contents of ```brainiak/__init__.py``` with

[code]

[2017-12-13 23:23] danielsuo commented on #278
FYI: work in progress in pull request #314

[2017-12-13 23:23] danielsuo commented on #286
FYI: work in progress in pull request #314

[2017-12-17 04:54] danielsuo opened #315 "Why does setup.py fail?"
For testing the ```mpi4py``` wheels, we try installing from source four different ways:

1. ```pip install .```
2. ```pip install -e .```
3. ```python setup.py develop```
4. ```python setup.py install```

The first two succeed, but the last two fail (even if mpi4py is installed from source with the appropriate dependencies installed). Not going to look into it now, but wanted to record the issue.

[2017-12-17 15:12] danielsuo opened #316 "Local pip installs are very slow"
Running `pip install -e .` or `pip install .` is including the virtual environment directory (~100MB), among other unnecessary files.

There's some discussion [here](https://github.com/pypa/pip/issues/2195) to include a `.pipignore` file.

Not a showstopper by any means; raising because the full testing pipeline takes quite long now (north of two hours). This won't affect the vast majority of work

[2017-12-17 15:15] danielsuo commented on #316
There are also some binary files / python notebooks that are quite large, but after reviewing them, they seem pretty fundamental to ease of using the package. Flagging here for completeness.

[2017-12-18 18:04] mihaic commented on #315
Although it may seem obvious (1, 2) should behave the same as (3, 4), they are different. As far as I know, we do not use 3 and 4. If we need to use them, please reopen.

[2017-12-18 18:04] #315 closed

[2017-12-18 20:20] jhutchin opened #317 "FCMA example code"
example code for FCMA, `classification.py` throws errors on: `from brainiak.io import dataset`
i.e.: https://github.com/brainiak/brainiak/blob/master/examples/fcma/classification.py#L17

but is fixed by, e.g.,: `from brainiak import io as dataset`
(my code is not ready for a pull request, otherwise I'd flag it that way...)

[2017-12-18 20:34] yidawang commented on #317
I am aware of it. I can take care of this later but if anyone else would like to fix it (and perhaps similar issues in other example code files), please feel free to go ahead.

[2017-12-19 17:58] mihaic opened #318 "docs: Warn against running `python setup.py`"
It is not the same as `pip install`, as pointed out in issue #315. We should warn users in the documentation.

[2017-12-20 16:55] manojneuro opened #319 "This is a test"
I will delete this right away.

[2017-12-20 16:56] #319 closed

[2017-12-21 18:06] mihaic opened #320 "Searchlight parameters are not visible in HTML docs"
They must be documented in the class dostring not `__init__`.

[2018-01-03 23:59] yidawang commented on #317
fixed by #322

[2018-01-03 23:59] #317 closed

[2018-01-16 17:35] mihaic commented on #301
@CameronTEllis, if this issues was fixed by PR #309, please close it.

[2018-01-16 21:01] #301 closed

[2018-01-19 22:00] mihaic opened #323 "Build Docker images automatically"

[2018-01-29 19:20] #320 closed

[2018-01-30 16:50] andrebeu opened #325 "crash importing srm"
no problems with the install:

[code]

but when i try to import srm

[code]

[2018-01-30 17:19] mjanderson09 commented on #325
Can you try checking your hostfile as described here?

https://stackoverflow.com/questions/23112515/mpich2-gethostbyname-failed

[2018-01-30 17:30] andrebeu commented on #325
that worked! thanks!

[2018-01-30 17:30] #325 closed

[2018-02-01 22:35] danielsuo commented on #316
Never responded back to this. The fix was following what was already in ```./pr-check.sh``` and creating the virtual environment in some directory outside of the brainiak source directory. I thought one common practice was to create the environments *inside* the source directory.

We can close this issue, but if we give instructions on installing virtual environments, we may want to make a note of

[2018-02-01 22:35] #316 closed

[2018-02-01 22:53] mihaic opened #326 "Unreliable coverage testing"
There seems to be some variability in the coverage results reported. See discussion in PR #324.

A potential solution is changing the coverage testing to disallow lowering the coverage, not only to compare against a specified threshold.

[2018-02-02 02:54] mihaic commented on #326
The increase in coverage from PR #327 should get us over the threshold again, but it does not help with reliability.

Also, see this code comment in Coverage itself which indicates expected randomness:
https://bitbucket.org/ned/coveragepy/src/7b080c304b9219cdc33dd0b303db14d411c419fe/tests/test_concurrency.py?at=default&fileviewer=file-view-default#test_concurrency.py-362

[2018-02-03 01:32] #326 closed

[2018-02-08 20:19] manojneuro opened #330 "Searchlight with voxel skipping"
I would like to request an enhancement to the searchlight functionality that will allow the searchlight sphere to skip from center to center. Let's say I have voxels =1:100, but I want only searchlights centered on voxels 10,20,30,...100. The searchlight_Center_10 sphere must include voxels 1-20 as features in the analysis.

This will reduce the number of searchlight computations and speed up the

[2018-02-13 02:06] mihaic opened #332 "Reduce number of Travis MacOS builds to 2"
We've just increased the number to 3 in PR #328.

Any additional builds will not be scheduled until after the first 2 finish:
"After much painstaking deliberation, we have decided to limit the concurrent macOS builds to a maximum of two out of the five offered."
https://blog.travis-ci.com/2017-09-22-macos-update

[2018-02-14 01:36] mihaic commented on #55
Since PR #299, we are hosting the docs on our own site. This is not necessary anymore.

[2018-02-14 01:36] #55 closed

[2018-02-15 15:52] manojneuro opened #336 "Searchlight Progress Meter"
When searchlight runs, it would be great to have a counter periodically printing X out of Y voxels completed.

[2018-02-27 23:17] mihaic commented on #268
I think Sphinx-gallery, the solution used by Scikit-learn is not ideal, as discussed in PR #270, where I was trying to use it.

Instead, I think we should use a solution that works directly with Jupyter notebooks, without converters, potentially Nbsphinx:
https://github.com/spatialaudio/nbsphinx

[2018-03-19 18:05] mihaic commented on #286
This issues is blocked by the lack of MPI4PY wheels.

[2018-03-19 18:10] mihaic commented on #278
Unfortunately, the effort to provide Python wheels (issue #286) is blocked by the lack of MPI4PY wheels.

Because we introduced an alternative simple installation solution (Conda packages), I am closing this issue. The conversation about wheels continues in issue #286.

[2018-03-19 18:10] #278 closed

[2018-03-19 18:16] danielsuo commented on #286
Is this still an issue we want to keep open?

[2018-03-19 18:25] mihaic commented on #286
I think so. PyPI is still the best way to distribute Python code and wheels are easiest to use, so we should keep an eye out for possible solutions.

[2018-03-21 00:47] #332 closed

[2018-03-23 20:48] #180 closed

[2018-03-24 16:32] CameronTEllis opened #350 "FCMA Classifier method for external analyses with training and testing datasets"
An input to the FCMA classifier method is a zipped list of data where each entry in the list an epoch of TR x voxel dim. It is possible to create this data object in a memory efficient manner by concatenating the training and testing data into a single object. However, discussed below is the procedure in which training and testing data is used separately for fit and predict, respectively.

The pro

[2018-03-26 19:25] manojneuro opened #351 "Documentation unavailable on methods under brainiak.image"
Documentation is missing on methods under brainiak.image e.g. image.MaskedMultiSubjectData.from_masked_images:

[2018-03-28 18:49] CameronTEllis opened #354 "io.load_image_from_dir needs documentation/support"
This is a critical function for brainiak but from the documentation or comments it is unclear how it works. Our code was not working because the files had been loaded in 'out of order' because this function was using the file order system of our OS (1, 10, 11, 12, ... 19, 20, 21, ...) rather than what we wanted (1, 2, 3 ...). It would be good if there were three things:

1. A way to print out the

[2018-03-28 20:39] brynnsherman opened #355 "prepare_searchlight_mvpa_data is assuming 3D input"
I am using the face_scene data provided in the example.  The input "images" to prepare_searchlight_mvpa_data is 4D, but get an error that the data are only 3D ("ValueError: not enough values to unpack (expected 4, got 3)").  I created the images using io.load_images_from_dir, and I confirmed with fslinfo that the data are indeed 4D.  prepare_mvpa_data in contrast works (using the same images as in

[2018-03-28 21:13] mihaic commented on #354
The file names are sored lexicographically, so "10" comes before "2", as you noticed. This is how software I am familiar with works.

You can see the file names in the log as the loading happens if you set the logging level to debug.

I think extending the docstring the way you suggest would help. Looking forward to a PR.

[2018-03-28 21:23] mihaic commented on #354
I think adding a sort option to enable "natural" sorting ("2" before "10") also makes sense. Nevertheless, I would leave lexicographic sorting as default.

[2018-03-28 21:33] mihaic commented on #355
If I understand correctly, you are trying to do something that one of the examples is doing:
https://github.com/brainiak/brainiak/blob/v0.7.1/examples/fcma/mvpa_voxel_selection.py#L62
[code]

If so, can you try that example via the included shell script?
https://github.com/brainiak/brainiak/blob/v0.7.1/examples/fcma/run_mvpa_voxel_selection.sh

[2018-03-28 21:47] brynnsherman commented on #355
I ran the shell script initially and came across the issue.  To debug, I ran these lines of code interactively and it still does not work:
        images = io.load_images_from_dir(data_dir, suffix=suffix)
        conditions = io.load_labels(epoch_file)
        data, labels = prepare_searchlight_mvpa_data(images, conditions)

[2018-03-28 21:49] CameronTEllis commented on #354
I agree that the default should be the lexicographic ordering (especially since we don't want to change the behavior for other users). I think adding a natural sorting step would be a great idea, and more documentation to say that the information is available in the log file. Still though, why not make the listed paths an attribute of 'images'?

[2018-03-28 22:04] mihaic commented on #355
I have just ran the shell script again in a fresh virtual environment and it worked.

Can you please confirm you are using BrainIAK 0.7.1?

[2018-03-28 22:10] mihaic commented on #354
The resulting images are Nibabel `SpatialImage`s (as mentioned in the documentation). You can get the filename of each image using `get_filename()`.

[2018-03-29 21:09] mihaic commented on #355
That makes sense. Please change the title of this issue; or close it and open a new issue.

[2018-04-06 19:06] mihaic opened #356 "Replace ndarray with xarray where appropriate"
See the xarray docs for "Why xarray?":
http://xarray.pydata.org/en/stable/why-xarray.html

Thoughts?

[2018-04-21 13:20] qihongl opened #360 "funcalign: Add cumulative variance explained for SRM"
Hi, can we add a cumulative variance explained function for SRM?

I guess this feature is not in the SRM implementation because this calculation involves fitting SRM with different numbers of components (like [this](https://github.com/qihongl/qmvpa/blob/master/qmvpa/factor.py#L33))? So it seems to be a util kind of function... Or is there a faster way of calculating cumulative variance explained b

[2018-04-23 19:50] mshvartsman commented on #268
I did some poking at this, but it is (unfortunately) not trivial. WIP in https://github.com/mshvartsman/brainiak/tree/nbsphinx. There's a few issues keeping this from working:

1. nbsphinx seems to want notebooks in `toctree` directives rather than `..include` directives in the rst files. Using relative paths in `..include` works fine to find notebooks under `examples` but sphinx tries to process

[2018-04-25 13:08] manojneuro opened #361 "Make the ISC and ISFC code MPI efficient"
Currently, the ISC and ISFC code is not MPI efficient. This results is large memory use when dataset size is large. The computation of the Fourier Transform for the phase randomized permutation tests also uses lots of memory.

David Turner is currently working on making this function MPI efficient.

[2018-04-26 14:47] manojneuro opened #362 "Conda install information missing on brainiak home"
On the brainiak homepage http://brainiak.org, instructions for conda install have not been added under "Getting Started".

[2018-04-26 14:53] moopet17 opened #363 "fcma: `random` argument in `preprocessing.prepare_fcma_data` is not clear"
I ran the following code:

`permuted_raw_data, _, permuted_labels = prepare_fcma_data(images, epoch_list, mask, random=2)
print(permuted_labels)`

which gives me this output:
[0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1]

However, I get the exact same output, when I run the same code again or when I set `random=0`, `random=1`, `random=

[2018-04-26 16:39] yidawang commented on #363
Setting the `random` argument to 1 or 2 shuffles the data not the labels. http://brainiak.org/docs/brainiak.fcma.html#brainiak.fcma.preprocessing.RandomType

What is your dataset? What is the classification results you got from 'random=0`?

[2018-04-26 18:33] qihongl commented on #360
If this is what we want, should I try to implement it in the util module?

[2018-04-27 00:39] mihaic commented on #363
@yidawang, what do you think about changing the docstring to say "images" instead of (or in addition to) "data", to indicate as clearly as possible what is shuffled?

[2018-04-27 00:47] mihaic commented on #360
I think adding an implementation would be great. Probably it should be in `funcalign` if it only applies to SRM, though.

[2018-04-27 21:51] yidawang commented on #363
@mihaic sounds good, I can do it later today.

[2018-04-30 17:37] mihaic commented on #363
@moopet17, hopefully PR #365 makes it clear that the images are what gets shuffled.

If you are still worried about the classification performance not changing, please provided some data to reproduce what you are seeing.

[2018-04-30 17:38] mihaic commented on #362
@manojneuro?

[2018-04-30 17:42] danielsuo commented on #362
@manojneuro filed here
https://github.com/brainiak/brainiak.github.io/issues/22

I requested the instructions they had given to students (battle-tested and
all) in the Yale course.

On Mon, Apr 30, 2018 at 1:38 PM, Mihai Capotă <notifications@github.com>
wrote:

[2018-04-30 17:44] mihaic commented on #362
Thanks, @danielsuo. Closing this issue.

[2018-04-30 17:44] #362 closed

[2018-04-30 22:33] mihaic opened #366 "utils: Missing __all__ in utils"
All names not begging with an underscore should be included, as usual.

[2018-05-01 14:04] moopet17 commented on #363
@yidawang: Thank you.
@mihaic: Yes, that makes it clear. It would be great if the documentation would also be clarified here: http://brainiak.org/docs/brainiak.fcma.html?highlight=fcma%20preprocessing%20prepare_fcma_data#brainiak.fcma.preprocessing.prepare_fcma_data This is the first place to look if one tries to understand what a BrainIAK function does.

[2018-05-01 16:12] mihaic opened #367 "dev: Publish HTML docs for master branch"
The HTML docs would need to be auto-generated and published during the continuous integration.

[2018-05-01 16:13] mshvartsman opened #368 "standardize hyperparameter optimization"
Most of the methods in brainiak have hyperparameters that need to be tuned.

It would be useful to make hyperparameter optimization easy for practitioners to apply. There have been a few efforts to make this happen, including http://automl.github.io/auto-sklearn, http://hyperopt.github.io/hyperopt-sklearn/, https://scikit-optimize.github.io. There is also a fast implementation of a subset of hyper

[2018-05-01 16:13] mihaic commented on #363
At this moment, we only have HTML documentation for BrainIAK releases. I have just created issue #367 to add a version of the HTML docs corresponding to the master branch of BrainIAK.

How about the classification performance? Is it unexpected? If not, please close this issue.

[2018-05-01 18:38] moopet17 commented on #363
This is the dataset: https://www.dropbox.com/s/11adrjdkt0w1tr3/face_scene.zip?dl=0
from this study: https://doi.org/10.1016/j.jneumeth.2015.05.012

Yes, the classification performance is unexpected, as described in my initial post. Permuting the data should not result in the same performance as not permuting it.
This is my code:

`data_dir = './face_scene/'
suffix = 'bet.nii.gz'
images = io.load_i

[2018-05-01 18:53] moopet17 commented on #363
Ok the real issue seems to be that TO ME, the documentation suggested that `random=1` equals `random=RandomType.REPRODUCIBLE` and so on. Turns out that is not the case. Setting the random argument to an integer does not do anything and always defaults to `RandomType.NORANDOM`. So it seems to me that this beahavior should be fixed or the documentation should be clearer on that.

[2018-05-02 14:07] sharifkronemer opened #369 "io: Add list example for load_images_from_dir"
Each time MaskedMultiSubjectData is called it requires the images of interest to be loaded and masked, otherwise a "StopIteration:" error appears, even if the images have been previously loaded. A helpful optimization would be to allow images to be loaded (load_images) and masked once initially and then to be able to call MaskedMultiSubjectData multiple times thereafter without having to reload/re

[2018-05-02 21:44] CameronTEllis opened #370 "Add transform_subject functionality SRM"
RSRM has the functionality to learn the weights for a new subject while keeping the shared response fixed (.transform_subject: https://github.com/brainiak/brainiak/blob/a16df0070b571cf5583af4c39331f3b59192a709/brainiak/funcalign/rsrm.py#L221). This would be great to have with SRM and all other SRM functions moving forward

[2018-05-04 16:39] mihaic commented on #369
@sharifkronemer?

[2018-05-04 20:46] #370 closed

[2018-05-04 20:49] mihaic commented on #370
@CameronTEllis, shouldn't this be open until PR #371 is merged?

[2018-05-07 03:02] sharifkronemer commented on #369
I appreciate the follow-up! I implemented your suggestion above and it worked well. Thank you!

[2018-05-07 16:26] mihaic commented on #369
Happy to help.

I am re-purposing this issue into a documentation issue: the docstring should mention the example I gave.

[2018-05-07 17:36] mihaic commented on #363
I agree, the documentation can be interpreted as allowing `random=1`. We can improve it.

Otherwise, can you please confirm that the classification performance changes as expected when using `UNREPRODUCIBLE`?

[2018-06-15 12:16] jeremymanning opened #374 "extra step for installing brainiak for brew version of python"
I was able to get brianiak installed with the homebrew version of Python (on MacOS High Sierra), but I had to call `brew install pybind11` (in addition to the installation instructions posted in the documentation) in order to get the installation to complete.

[2018-06-15 16:52] mihaic commented on #374
What error do you see if you do not run the extra Brew command?

[2018-06-26 02:32] danielsuo opened #375 "fcma: Performance needs investigation on AWS"
Not necessarily an issue, but the FCMA classifier was predicting on 2k voxels at ~3 seconds / TR on an AWS c5d.9xlarge, which is a pretty beefed up machine by EC2 standards. Of course, it was a VM running on a shared host with who knows what underlying, but something to look into.

[2018-06-26 03:53] yidawang commented on #375
I don't quite remember the numbers I got before. H]On how many TRs do you compute the correlation? Can you split the 3 s into correlation, normalization and classification? Thanks!

BTW, c5.9xlarge is supposed to use an exclusive Skylake CPU with 18 cores, so the conflict between it and other VMs should be minimized.

[2018-07-13 18:43] lcnature opened #376 "Need searchlight on surface space"
A user requested the function of running searchlight on surface space, which pyMVPA offers (http://www.pymvpa.org/examples/searchlight_surf.html). @snastase says he is familiar with the module in pvMVPA and may be able to write a wrapper around those function if time permits.
If anyone else is happy to help it would also be great.

[2018-07-13 20:53] lcnature commented on #376
Thanks a lot @snastase!
Hope it would not need too much tweaking to interface with their codes.

[2018-07-25 23:43] mihaic opened #377 "Conda build fails on MacOS (Abort trap: 6)"
See the failure on Travis, which I reproduced on our Jenkins MacOS machine:
https://travis-ci.org/brainiak/brainiak/jobs/395590168

Curiously, I could reproduce the error on our Jenkins MacOS machine using Brew+PyPI as well, until I cleaned up the build files.

[2018-08-01 22:53] mihaic commented on #377
The root cause is the presence of multiple copies of OpenMP, same as in:
https://github.com/apache/incubator-mxnet/issues/8532
https://software.intel.com/en-us/articles/OpenVINO-InferEngine (search for "Multiple OpenMP Loadings")

Setting `KMP_DUPLICATE_LIB_OK=TRUE` works. I will submit a PR.

[2018-08-31 19:18] #377 closed

[2018-09-20 20:48] jaetzel opened #383 "brainiak run in miniconda on Windows?"
Will brainiak run on Windows within miniconda? The "Win" link in Method 1 Step 1 on http://brainiak.org/#get-started makes me think it does, but elsewhere the documentation states that windows is not supported. (I tried the installation and got a PackagesNotFoundError.)

Thanks!

[2018-09-23 22:38] lcnature commented on #383
@mihaic Indeed I got the same error when trying on Windows. Shall we consider changing the website? Is the channel specific to certain OS?

[2018-10-01 17:16] mihaic commented on #383
@jaetzel, this is an error in our documentation. Thanks for bringing it up. We do not provide Conda packages for Windows.

[2018-10-03 15:36] #383 closed

[2018-10-22 17:21] mihaic opened #388 "fcma: Document normalization behavior"
Follow-up on discussion from Gitter chat room:
https://gitter.im/brainiak/brainiak?at=5bc9d5a564cfc273f9f03ad6

CC @amennen, @qihongl, @CameronTEllis, @manojneuro.

[2018-10-23 15:15] lcnature commented on #366
Thanks @szorowi1 for the contribution!

[2018-10-23 15:15] #366 closed

[2018-10-23 15:57] amennen commented on #388
Actually, I just tested the same thing on my leave-one-subject-out classification. For all 20 classifiers for each of the 20 subjects left out, when tested on the left out subject, the mean of the decision function values is always equal to the intercept of the decision function. So this seems to be a broader property of FCMA normalization.

[2018-10-23 20:56] amennen commented on #388
This is the definition of the optimal intercept of the hyperplane (the average of the two worst examples from each class):

![image](https://user-images.githubusercontent.com/16296896/47389992-3aab6a00-d6e4-11e8-8d0d-9919b798aff6.png)

[2018-10-23 22:37] qihongl commented on #388
Yeah, assuming the data is normalized (centered and rescaled) + each run contribute the roughly the same cost term (related to the normalization assumption), indeed I can convince myself that this is a property of the fitting procedure.

[2018-10-25 15:34] amennen commented on #388
Okay, so with Manoj's help (thank you Manoj!), we concluded that if the distance to the hyperplane is `( w^T*x + b)`, then when the data is zscored, the mean of all distances must = b because the mean of x is 0. So this means that any testing data that is zscored will have the same mean distance equal to b.

Moving forward, I don't think fcma should refer to the decision function value as "confide

[2018-10-26 18:56] yidawang commented on #388
Thanks for investigating this, @amennen

Within the same set of test samples, can the distance value indicate the confidence?

[2018-10-26 19:04] manojneuro commented on #388
@yidawang for each individual sample, distance can indicate confidence. One alternative is to get a distribution of distances for each predicted label. I have mentioned this to @amennen and she is looking into explloring this option along with computing probabilities.

[2018-11-19 18:16] mihaic opened #391 "dev: Add deprecation policy"
Should specify at least how long we keep deprecated APIs.

[2018-11-27 16:27] lcnature opened #392 "furture warning for np.linalg.lstsq"
I often got this warning for the commands of np.linalg.lstsq in brainiak:
```FutureWarning: `rcond` parameter will change to the default of machine precision times ``max(M, N)`` where M and N are the input matrix dimensions.
To use the future default and silence this warning we advise to pass `rcond=None`, to keep using the old, explicitly pass `rcond=-1`.```
I want to take one option but don't kn

[2018-12-05 20:23] mihaic opened #393 "dev: Add policy for updating the minimum version of our dependencies"
Could be inspired by Matplotlib's:
https://matplotlib.org/devel/min_dep_policy.html

Note that we currently don't specify the minimum versions explicitly. For example, we currently implicitly support Python 3.4 by running Travis tests that use Python 3.4. See the f-strings commit in this PR:
https://github.com/brainiak/brainiak/pull/384#commits-pushed-dc297fc

[2018-12-07 23:53] mihaic opened #394 "Ignore downloaded example data in Git"
Some is already in `.gitignore`, but some is not. We should check all examples.

[2018-12-15 00:05] mihaic commented on #152
Closing because it is not specific to BrainIAK.

[2018-12-15 00:05] #152 closed

[2018-12-15 00:30] mihaic commented on #361
Is this still an issue after merging PR #384?

[2018-12-15 00:36] mihaic commented on #374
Closing for lack of information. Feel free to reopen if still an issue.

[2018-12-15 00:36] #374 closed

[2018-12-17 18:08] mihaic opened #396 "isc: `phaseshift_isc` overlaps with `brainiak.utils.phase_randomize`"
We should not have duplicate functionality.

[2018-12-17 19:05] mihaic opened #397 "utils: Document difference between compute_p_from_null_distribution and p_from_null"
See:
https://github.com/brainiak/brainiak/pull/384#issuecomment-438000981

[2019-01-07 21:05] snastase opened #398 "isc: how should we handle NaNs when pairwise=False?"
Currently the leave-one-out (pairwise=False) ISC and ISFC functions use `np.mean` to average across N–1 subjects prior to computing correlation with the left-out subjects. This means a NaN for any single subject will kill the mean time series. NaNs may occur during z-scoring prior to ISC computation because some voxels have zero variance—especially at edges of the brain due to limited FoV for EPI

[2019-01-07 21:38] snastase commented on #398
After some offline conversations, seems like Hasson Lab convention is to threshold to keep only voxels where e.g. >= 80% of subjects have non-NaN values and use `nanmean`. There may be other reasons or methods for thresholding, so I'm inclined to leave that up to user prior to ISC computation and not build this sort of thresholding into the function. So I guess this comes down to either: (a) simpl

[2019-01-07 21:57] manojneuro commented on #398
I like the allow NaNs option. This should also flow nicely into all the
stats tests for ISC.

On Mon, Jan 7, 2019 at 4:38 PM Samuel Nastase <notifications@github.com>
wrote:

--
Postdoc
Princeton Neuroscience Institute
www.manojneuro.com

[2019-01-09 21:39] snastase opened #399 "isc: output dimensions for ISFC analysis"
I want to solicit opinions about the ideal output dimensions for `brainiak.isc.isfc`; just had a conversation with @manojneuro offline about this. Currently, if we input an array with shape `(n_TRs, n_voxels, n_subjects)`, the vanilla `isc` function returns an `(n_subjects, n_voxels)` (or `(n_pairs, n_voxels)`) array of ISC values—this makes sense to me based on our discussions about standardizing

[2019-01-09 22:02] mihaic commented on #399
Sounds reasonable. In terms of API stability, considering we have not released a new BrainIAK version since PR #384, I see no issue making the change.

[2019-01-10 02:33] snastase opened #400 "fcma: compute_correlation returns zeros for NaNs"
I just noticed that `brainiak.fcma.util.compute_correlation` returns float zeros when computing the correlation between vectors containing NaNs, which is inconsistent with other correlation computations in Python like `np.corrcoef` and `scipy.stats.pearsonr` (which return `np.nan`). Is this the desired output? Or is it necessary for the high-speed BLAS implementation? Might not be worth bothering

[2019-01-10 05:55] yidawang commented on #400
We designed in this way to prevent the entire computation from crash when encountering the NaN vectors. We can point this out in the docstring if you think this may lead to some potential issue.

[2019-01-10 20:06] mihaic opened #402 "dev: Add underscore to names that are not part of the API"
For example, in `hyperparamopt`, only `fmin` is used outside BrainIAK, so `get_sigma` should be `_get_sigma`.

Related to issue #401.

[2019-01-10 21:01] snastase commented on #400
Okay, makes sense. When invoking `compute_correlation` in the `isfc` function, I may reassign these zeros to NaNs at the output stage to make the output consistent with `isc`. I can add a sentence to the `compute_correlation` docstring mentioning this.

[2019-01-10 21:24] yidawang commented on #400
Or can you submit a PR to add an argument to this function, indicating if we will convert NaN to 0? Thanks!

[2019-01-13 19:30] qihongl opened #406 "SRM doesn't apply mu in transform()"
I recently did a simulation and realized that brainiak SRM can't align two trajectories that different by a vector shift, though it should be able to align them by estimating the correct `mu`.

Here's the <a href="https://github.com/qihongl/scratch-srm/blob/master/srm_demo.ipynb">notebook</a> containing the simulation. By uncommenting some code block, the notebook can show that
i) the shifting can

[2019-01-14 21:46] mihaic commented on #253
Fixed by PR #401.

[2019-01-14 21:46] #253 closed

[2019-01-14 21:49] #400 closed

[2019-01-21 21:15] snastase commented on #397
As far as I can tell `p_from_null` was performing a specific function that was only used in the old `isfc` function, and is no longer referenced anywhere in `brainiak`. In this case, I think `compute_p_from_null_distribution` supersedes `p_from_null`, and `p_from_null` can be removed. However, I may shorten the name of `compute_p_from_null_distribution` as I only named it this to not overlap with

[2019-01-21 21:27] snastase opened #409 "isc: asymmetric ISFCs with "targets" input array"
The `isfc` function currently takes a single input array and computes the pairwise ISFCs among all voxels in this array. However, an important use-case is computing ISFCs between one set of voxels and another (non-identical) set of voxels or "targets". For example, I want to compute ISFCs between the 500 voxel time series in my ROI and 360 target time series from a parcellation. This will result i

[2019-01-22 17:12] mihaic commented on #397
That makes sense. Please remember to include a news item about the removal of `p_from_null` (see point 7 http://brainiak.org/docs/contributing.html#how-to-contribute). Looking forward to the PR!

[2019-01-24 00:07] mihaic opened #411 "dev: Find a useful Jenkins cluster"
Metacortex, our current cluster is running CentOS 6, which is causing problems (e.g., PR #410 fails). We should replace it. It would be useful to test on one of the clusters a representative user group runs BrainIAK; I think that means a Princeton cluster.

@manojneuro, @qihongl, on what clusters are you using BrainIAK?

Feel free to ask others with BrainIAK cluster experience to chime in.

[2019-01-24 00:14] manojneuro commented on #411
I've used Spock and Adroit recently.

Manoj

On Wed, Jan 23, 2019 at 7:07 PM Mihai Capotă <notifications@github.com>
wrote:

--
Postdoc
Princeton Neuroscience Institute
www.manojneuro.com

[2019-01-25 04:18] lcnature opened #412 "BRSA can have a faster module"
As requested by user, I will make a faster version with simplified assumption. I am adding this issue to remind myself to work on it.

[2019-01-28 19:22] mihaic commented on #411
Based on offline discussions, it looks like Spock is a good choice. I'll leave the issue open until we finish migrating the testing.

[2019-03-03 23:07] snastase commented on #397
Replaced old `p_from_null` with newer functionality from `compute_p_from_null_distribution` in #405 (commit [daa5d41](https://github.com/brainiak/brainiak/pull/405/commits/daa5d4190db01ebd7d4340774705b1bb6fb5eca6)). Note that the new functionality now uses the older simpler function name. This also required removing the `ecdf` functionality which is no longer used anywhere in BrainIAK (commit [aa0

[2019-03-03 23:17] snastase commented on #396
These are not really functional duplicates. I think in theory what we want is (_a_) `phaseshift_isc`, which performs the nonparametric test using phase randomization and returns a null distribution, _p_-values, etc; and (_b_) a more generic `phase_randomize` utility that simply takes in time-series and phase-randomizes them. I think having this `phase_randomize` utility is useful even outside the

[2019-03-27 23:47] #396 closed

[2019-03-27 23:47] #397 closed

[2019-03-27 23:47] #398 closed

[2019-03-27 23:47] #399 closed

[2019-03-27 23:47] #409 closed

[2019-03-27 23:53] mihaic commented on #396
There's a way to close issues with commit messages such that it is clear they were fixed. I think we should use it in the future:
https://help.github.com/articles/closing-issues-using-keywords/

[2019-04-04 16:57] hugorichard opened #416 "SRM could be faster and more memory efficient"
Current implementation of SRM could be enhanced when the number of subjects and sessions are big.
Our experiments show that our implementation is more memory-efficient and faster while having similar accuracy (measured with test R2 reconstruction error) than ProbSRM .
I have a PR ready for this. If you think it is interesting please let me know.
Best,
Hugo RICHARD

[2019-04-04 16:59] mihaic commented on #416
Absolutely! Please submit a PR.

[2019-05-25 21:13] qihongl commented on #416
Thanks @hugorichard ! This is a really exciting addition!

Do you have some simulation results showing it is qualitatively similar to the old SRM and faster when the data is big enough? I would love to take a look. Besides qualitatively verifying the code, I think these results will be useful to guide users' decision.

I'm not sure I'm the best person to review the technical stuff, such as the det

[2019-05-27 13:40] hugorichard commented on #416
Yes you are right the example does not show that FastSRM is a better choice than the old SRM. It just shows that the implementation is running and how to use the API. I tried to use the same example as in the old SRM but I cannot get my hands on the masker that was used to mask the movie watching data which prevents me from using an interesting atlas to perform the reduction. The mask given in  br

[2019-05-27 20:47] qihongl commented on #416
Wow, in terms of cross-validated r^2, it seems that fast SRM performed much better (than SRM ~= det SRM). Just out of curiosity, do you have some intuition about why is this the case? Do you have a paper about your method? I think your result is impressive enough as a paper :) though I think a more common practice is to hold out either a session or a subject entirely?

Providing a runnable example

[2019-05-28 15:20] hugorichard commented on #416
Thanks for your answer!

My intuition is that the projection onto the atlas reduces the noise which allows the algorithm to find a better solution.
I am writing a paper with Jonathan Pillow about this.

Thanks for your comments about the held-out session and subject. I use the "co-smoothing" set up essentially to gain time. I do not think it would change the result to hold out one subject entirely

[2019-05-28 15:30] qihongl commented on #416
@hugorichard I see! Thanks for the comments! They are highly informative! And I'm looking forward to reading your paper!

[2019-06-03 15:19] hugorichard commented on #416
@qihongl I just updated my example with the data you provided. We only get a small increase in R2 compared to the old SRM but still a good speed-up and lower memory usage.

[2019-06-03 15:27] qihongl commented on #416
@hugorichard Cool I think that's an awesome tutorial. I can see some old SRM users would find that very intuitive and eager to try FastSRM. At least I am :)

@mihaic I think this PR is great. Though I don't think I'm the best person to review the code since we have so many people who worked on SRM development. Can we get some help? @hejiaz @TuKo @cameronphchen  Or someone who's currently working w

[2019-06-07 22:58] mihaic opened #422 "Workaround for Numdifftools SciPy incompatibility"
SciPy 1.3.0 breaks the latest Numdifftools release. A new release does not seem to be coming anytime soon because the maintainer is not responsive:
https://github.com/pbrod/numdifftools/issues/42

@lcnature, we only use Numdifftools in the BRSA tests. Any chance you could replace `directionaldiff` with something else? If that is not possible in the next few days, we will restrict SciPy to <1.3.0.

[2019-06-07 23:03] mihaic commented on #422
@lcnature, please do not spend too much time thinking about replacing `directionaldiff` if it is not simple. We may need to restrict SciPy to <1.3.0 anyway because of Pymanopt:
https://github.com/pymanopt/pymanopt/issues/77

[2019-06-10 16:42] mihaic commented on #422
Not necessary anymore after the latest Numdifftools release.

[2019-06-10 16:42] #422 closed

[2019-06-17 18:29] snastase opened #424 "isc: Clean up code for random seeds in resampling tests"
The way we use random seeds in the statistical resampling tests for ISC analyses (e.g., `bootstrap_isc`, `permutation_isc`) is a bit redundant. I think the code was initially written with the `np.random.seed` in mind, then updated to the better `np.random.RandomState` approach—but still has some vestigial fluff. The current version should work fine, but the randomization bit can be slimmed down an

[2019-06-17 18:34] mihaic commented on #424
@snastase, we are planning on releasing v0.9 soon, as you know. Would you like to delay the release because of this issue? I suggest not delaying, especially because we can have a 0.9.1 release soon afterwards if you want this issue fixed fast in a release.

[2019-06-17 18:46] snastase commented on #424
No, I don't think this is worth delaying the release. More of just a stylistic issue—shouldn't negatively affect actual analysis results.

[2019-07-01 15:42] emilymicc commented on #424
When I try to run the boostrap analysis, I run into this error
ValueError                                Traceback (most recent call last)
<ipython-input-37-de1a0cd41ab3> in <module>
      4 observed, ci, p, distribution = bootstrap_isc(iscs_floats, pairwise=False,
      5                                               ci_percentile=95,
----> 6                                               summary_

[2019-07-10 08:58] hugorichard commented on #416
@qihongl @mihaic   Any news ? Is there anything I can do to help you with the review?

[2019-07-10 16:33] mihaic commented on #416
Sorry for the silence, @hugorichard. We are having difficulty getting help. We'll contact @hejiaz and @TuKo again.

[2019-07-17 17:00] snastase opened #428 "srm: Can't save SRM object due to MPI"
I want to fit `brainiak.funcalign.srm.SRM` on some subset of data, save this fitted SRM object to disk, then (e.g., weeks) later retrieve the fitted SRM object and use its `transform_subject` method to project a new subject into the shared space. I tried using `numpy.save`, e.g.:
[code]
but the pickling used to save object arrays conflicts with MPI:
[code]
Is there any other way to save the SRM ob

[2019-07-17 17:09] CameronTEllis commented on #428
At the moment, my solution is to save the .s_ and .w_ with numpy or python pickle calls and then remake the object. However, a better solution would be much appreciated!

[2019-07-17 18:15] qihongl commented on #428
@snastase  Thanks for opening this issue! I think making SRM object serializable would be a great enhancement.

It turns out depends on what the user wants to do, saving w and s might not be enough. For example, techinically, mu_, the subject-specific intercept, should also be saved, though the current implementation forgot to use (#406). And sometimes saving rho_, sigma_ are useful as well. Being

[2019-08-03 18:39] qihongl opened #429 "compatibility with python >= 3.7?"
It seems that the current brainiak doesn't work python version >= 3.7. Is there an easy fix?

[code]

[2019-08-04 04:43] sameshl commented on #318
@mihaic I would like to work on this. Is it fine to add a warning at the end of [quickstart guide](https://brainiak.org/docs/#quickstart)?

[2019-08-05 16:24] mihaic commented on #318
@sameshl, thanks for the offer. I think it is best to keep the quickstart guide short as simple; the installation guide is a more appropriate place:
https://brainiak.org/docs/installation.html

[2019-08-05 16:41] mihaic commented on #429
Conda packages are specific to each Python minor version. We currently only have a package for Python 3.6. You can see what packages are available on the Anaconda website:
https://anaconda.org/brainiak/brainiak/files

As far as I know, there is nothing in BrainIAK incompatible with Python 3.7, but we have not yet built a Conda package for that version. However, I do have a vague recollection of en

[2019-08-05 16:46] mihaic commented on #429
Regarding the error message, I see instructions from Conda that suggest specifying the minor version of Python will make it work:
[code]

Indeed, specifying the Python version makes it work:
[code]

[2019-08-05 18:10] sameshl commented on #318
@mihaic I see. Will make the required change

[2019-08-07 04:49] sameshl commented on #394
@mihaic I would like to work on this. Could you explain what I would need to do?

[2019-08-07 13:16] sameshl commented on #369
I would like to fix this but I am having a lot of trouble installing brainiak due to requirement errors.
So, can you show the output of

so I can include it in docstring as doctest

[2019-08-07 16:20] mihaic commented on #394
@sameshl, thanks for offering to help. You would need to run all examples and see what data files they download. Then you need to add the paths to those files to `.gitignore`, such that `git status` does not show unknown files after running the examples.

[2019-08-07 16:22] mihaic commented on #369
@sameshl, I think it is enough to mention the `list` call in the docstring without output. Doctests could be helpful, be we don't use them at the moment.

[2019-08-14 21:46] #369 closed

[2019-08-14 22:30] #318 closed

[2019-08-23 13:20] cbaldassano commented on #429
Hi @mihaic, is there an ETA on when a 3.7 Conda package will be built? I know of several people here at Columbia that are currently choosing not to use Brainiak since they don't want to downgrade their python installation.

[2019-08-23 21:35] mihaic commented on #429
Thanks for the feedback, @cbaldassano. We will make a bugfix release and include a Python 3.7 Conda package in the next few days.

[2019-08-28 07:49] GuannanZhao opened #435 "Document Pip PEP 517 installation quirks"
I try to install brainiak on MacOS Mojave just by
[code]
following the instruction on `Docs » Installation` page.
But at the end I still encounter an error as
[code]
So what's the problem with me? Did I do something wrong?

Thanks,
Zhao

[2019-08-29 06:24] GuannanZhao commented on #435
Thank you @mihaic ! It works!
I downgraded pip from `19.2.3` to `9.0.3` as you recommend and it works.
Module brainiak is installed and imported (in PyCharm) successfully.

I also tried `--no-use-pep517` option but nothing happened.
It seems that something is wrong when compiling at the step `pep517`(I found some errors about cpp and cython), though I am not sure what it is.

Thank you again!

[2019-08-29 16:20] mihaic commented on #435
Thanks for the feedback, @GuannanZhao. I am re-purposing this issue to improve our documentation.

Could you please paste the command the error you see when installing with `pip` >=19 and `--no-use-pep517`?

[2019-08-30 03:33] GuannanZhao commented on #435
It seems that everything will be OK if `brainiak-0.9.1-cp37-cp37m-macosx_10_9_x86_64.whl` is already built under the path `~/Library/Caches/pip/`.
I could uninstall and install brainiak by `pip 19.2.3` successfully as many times as my wish without an error. When I deleted this cache, the `PEP 517` error occurred again.

Then I tried `python3 -m pip install --no-use-pep517 brainiak`, **it did works

[2019-08-30 16:34] mihaic commented on #435
Thanks for the detailed output. I will modify the documentation to include the `--no-use-pep517` flag.

[2019-09-27 17:50] mihaic opened #438 "Submit BrainIAK for endorsement by INCF"
INCF has requirements we must fulfill:
https://www.incf.org/activities/standards-and-best-practices/requirements-for-standards-and-best-practices

[2019-09-27 17:58] mihaic commented on #438
Document collecting minutes of INCF subcommittee on standards and best practices (SBP) from which we can learn more about the approval process:
https://docs.google.com/document/d/1YWUspo4QPrhSUVwjFmBUXKtT3o2OHScCxiK8ec-nceo/edit

[2019-10-19 01:25] lcnature commented on #392
I think this is fixed in #436 So I will close it.

[2019-10-19 01:25] #392 closed

[2019-10-30 16:20] mihaic opened #442 "dev: Shorten Conda build time"
Before `conda-build` version 3.18.10, builds were significantly faster. In particular, the packaging step started timing out on Travis because of lack of output after 10 minutes:
https://travis-ci.org/brainiak/brainiak/jobs/599871915#L845

[2019-11-11 19:52] mihaic commented on #442
Seems fixed with `conda-build` version 3.18.11:
https://travis-ci.org/brainiak/brainiak/jobs/610506167#L308

[2019-11-11 19:52] #442 closed

[2019-11-11 21:31] #416 closed

[2019-12-03 16:25] hugorichard opened #446 "FastSRM fails when the number of sessions is > 2"
There is a bug in my implementation causing FastSRM to fail when the number of sessions is > 2.
I'll submit a pull request for this.

[2019-12-04 17:32] mihaic opened #448 "fcma: test_mvpa_voxel_selection fails with scikit-learn 0.22"
See https://travis-ci.org/brainiak/brainiak/jobs/620219411

Pinning to <0.22 works, but we should fix the underlying issue.

[2019-12-08 19:21] snastase opened #449 "isc: two-sample permutation test fails for pairwise ISCs"
When computing pairwise ISCs, the output is a condensed triangle vector (via `squareform`) with length `N * (N - 1) / 2`, where `N` is the number of subjects. In the context of two separate  (non-paired) groups, ISCs are computed separately and the resulting condensed vectors are v-stacked (note that there may not be the same number of subjects in each group). When passing this stacked pairwise IS

[2019-12-08 22:02] CameronTEllis commented on #448
Is anyone working on this? I can take a crack at it if no one else is

[2019-12-09 15:24] mihaic commented on #448
It's all yours!

On Sun, 8 Dec 2019, 14:02 CameronTEllis, <notifications@github.com> wrote:

[2019-12-10 17:47] mihaic commented on #448
@CameronTEllis, I think it is better to contine the conversation from PR #437 here. Your explanation makes sense; it is likely the length difference is caused by a change in accuracy. Nevertheless, all but one of the accuracy values are the same. Therefore, I think it should be possible to preserve the accuracy value comparison in the test.

[2019-12-10 19:46] CameronTEllis commented on #448
Indeed the difference between the results are similar but that is incidental as far as I can tell. Again, I am not sure why the value comparison is the appropriate test because if so it sets an extreme standard that should affect all of our tests. If it is necessary to include this test then we can put in an if statement that deals with this different computation. Other than that I am unsure how t

[2019-12-10 19:55] mihaic commented on #448
You are right, we have no standard for tests requiring such comparisons. However, I see no harm keeping this existing test, as long as it is working, and it seems close to working to me.

My proposal, as written in the issue description, is to pin scikit-learn until we figure out what is happening so we can release BrainIAK v0.10.

We can even give ourselves a deadline, let's say version BrainIAK

[2019-12-10 20:26] CameronTEllis commented on #448
That sounds reasonable then

[2020-01-15 20:24] emdupre opened #452 "Release schedule for v0.9.2 ?"
Thanks for making this great tool !

I was wondering if you had an anticipated schedule for the next release (looks like v0.9.2, or perhaps v1.0.0 ?!). In particular, I'd like to access the new fastSRM implementation.

For now, I'll plan to just build from GitHub's source, but since there hasn't been in a release in 5 or so months I was wondering if you had any anticipated timeline, here.

Thanks

[2020-01-16 17:22] mihaic commented on #452
Hello, @emdupre! We will release the next version as soon as we sort out the infrastructure issues that are preventing our tests from passing. Hopefully by the end of next week.

[2020-01-24 18:16] mihaic commented on #452
Quick update: we fixed or worked around all the issues causing the tests to fail, except one related to MPI in the Conda package on Linux. We are working on it, but likely will need a few more days to get the release ready.

[2020-01-24 21:27] emdupre commented on #452
Thanks for the update, @mihaic ! Very much appreciated :smile_cat:

[2020-02-06 21:55] mihaic commented on #446
Fixed in PR #447.

[2020-02-06 21:55] #446 closed

[2020-02-07 18:33] #435 closed

[2020-02-08 00:17] mihaic commented on #452
We released a new version. Thank you for your patience.

[2020-02-08 00:17] #452 closed

[2020-02-14 20:36] me-sh opened #456 "utils.py: undocumented assumptions in function p_from_null for the two-sided case"
Function p_from_null: When side == 'two-sided', the p-value calculation seems to assume that the null distribution is 1) symmetrical and 2) centered around zero. Violation of these assumptions leads to inaccurate results. A link to the relevant line is below.
[https://github.com/brainiak/brainiak/blob/dc12929a99529a69da3c3242e9c9fd31c308fbb0/brainiak/utils/utils.py#L853
](url)

[2020-02-14 21:13] mihaic commented on #456
@snastase, could you please weigh in?

[2020-03-20 18:14] jdkent opened #459 "fmrisim: simple (two-voxel) usage"
Thanks for all the work on this awesome package.

I know fmrisim's use case is for creating realistic brains, but my use case is to only use two voxels.
Thus I would like to have access to all the temporal noise generating functions, but ignore the spatial noise component. I have my janky work around [here](https://github.com/jdkent/brainiak/tree/separate_temporal_spatial), but I think a real solu

[2020-03-23 14:19] CameronTEllis commented on #459
Hi James,

Nice to hear from you again. This is a great suggestion that I will hopefully get to by the end of the week.

Best,
Cameron

[2020-03-24 23:11] esfinn commented on #428
Have been playing around with SRM and wanted to echo that it would be great to have an easy way to save the srm object to disk for later use. Unfortunately tackling this is likely beyond my python chops at the moment, but if anyone has an idea for how to implement this, I'd be happy to help test, etc. Thanks, all, for your work on this excellent package!

[2020-03-30 02:11] CameronTEllis commented on #459
Hi James,

I have looked at your solution and I actually think that is a good one. You mentioned that refactoring the temporal noise generators might be better but I think this is a clean way of doing it.

An alternative possibility might be to specify a function in the `noise_dict` that is then called at those times you have highlighted. That would make it more domain general, in case people had

[2020-05-05 22:12] #448 closed

[2020-05-05 23:46] mihaic opened #462 "dev: Use non-editable install in pr-check"
Editable installs can cause errors because they use the Git worktree instead of making a fresh installation, e.g.:
https://travis-ci.org/github/brainiak/brainiak/jobs/683078598

[2020-05-13 22:40] #456 closed

[2020-05-13 22:42] me-sh commented on #456
can't replicate the bug, not sure there's a problem anymore

[2020-06-05 20:41] cbaldassano opened #466 "Leave-one-out ISC permutations/bootstraps not valid"
When using permutation_isc and bootstrap_isc with pairwise=False, the permutations are carried out by applying signflips, group exchanges, or bootstrap resampling to the correlation values of individual subjects with the rest of the group. For example, in the one-sample permutation each subject's LOO value is randomly flipped or not flipped:

https://github.com/brainiak/brainiak/blob/69a0c93cceea7

[2020-06-15 21:49] peetal opened #467 "Running FCMA - RuntimeError"
Hello all,

I just started playing with brainiak. I'm trying to go through the tutorial and example dataset for FCMA locally. I have set up brainiak as instructed. When I run the bash script `run_fcma_voxel_selection_cv.sh`, I got the error saying
[code]
I checked the code this error was pointing to, it looks it is caused by `MPI.COMM_WORLD.Get_size() == 1`. I assume it means that it runs only 1 t

[2020-06-15 22:01] yidawang commented on #467
You will need to specify the number of processes (not the number of threads specified via `OMP_NUM_THREADS`) to be more than 1, something like `mpirun -np 2` to make it 2. Referring to [here](https://github.com/brainiak/brainiak/blob/master/examples/fcma/run_voxel_selection.sh).

[2020-06-16 21:14] snastase commented on #466
@cbaldassano thanks for the comment! I'm trying to understand your question here... In the one-sample permutation test, the sign-flipping is applied to the correlation values resulting from the ISC computation (for both the pairwise and leave-one-out approaches). If you have `N = 30` subjects, at each permutation you'll get a 30-long vector of `-1`s and `+1`s (and for low `N`, we compute the `2**N

[2020-06-17 15:47] cbaldassano commented on #466
Right, this is my concern. In general for a permutation test (or bootstrapping), we want to do something independently to each of the exchangeable units in the dataset, which in this case are the subjects. Chen2016 talks explicitly about this, saying that we want to flip the signs of the subjects and not the individual pairwise correlation values.

The problem is that in the LOO case, there is no

[2020-06-20 11:11] stephanwu89 opened #468 "Grey matter mask MNI too big?"
Hi all,

I used the command
mask, template = sim.mask_brain(dimensions, mask_self=False)
to generate a grey matter mask. But it seems to be that this mask also includes part of the white matter. Could that be true? How could I apply more strict criterias to keep white matter away in that mask?

<img width="519" alt="Bildschirmfoto 2020-06-20 um 13 22 01" src="https://user-images.githubusercontent.

[2020-06-22 13:04] CameronTEllis commented on #468
Hi Stephan,

Yes the mask that is being generated is based on the tissue priors from FSL and so will include some white matter. The output of your function produces two volumes, the first of which is what you plotted and shows the binarized volume, based on assumptions that the brain voxels and non brain voxels live in two different distributions of voxel intensity. If you don't think that thresho

[2020-06-25 05:29] stephanwu89 commented on #468
Hi Cameron,
Thanks a lot!
Is it also possible to generate a mask/template for MNI, supratentorial only with grey matter and basal ganglia?

Best,
Stephan

[2020-06-25 13:44] CameronTEllis commented on #468
Do you mean you want to simulate realistic fMRI data but only in those regions, or do you mean you want to simulate whole brain data and insert signal in those regions? Because of how the code estimates things like smoothness, creating a volume that is only a small ROI may produce inaccurate data. However, you could easily make the data whole brain and then mask it afterwards to the regions you ca

[2020-06-25 13:59] stephanwu89 commented on #468
I mean simulating only the voxels in those regions. So all the voxels in those regions where I am interested in should be 1 and the other 0.

[2020-06-27 18:33] CameronTEllis commented on #468
You certainly could just simulate voxels in that region. In that case you would need a mask with binary values indicating which voxels are in and out of the ROI. You also need a template, defining the mean activity in the region you expect. However, I am not sure about the accuracy of doing this kind of `small volume` simulation, it is more appropriate to simulate the whole brain and mask down to

[2020-06-27 19:48] stephanwu89 commented on #468
Yes thats for sure. But my problem is, I dont know how to generate such a mask. A mask only containing supratentorial parts.
Best

[2020-06-27 21:40] CameronTEllis commented on #468
To create masks you could use data that has been previously collected, either by you or someone else. Meta-analysis tools like neurosynth may help. You could also just manually trace the mask in a tool like FSLeyes.

[2020-07-16 20:33] tsy6 commented on #466
Hi, sorry to interrupt, but I wanted to ask about this! I've been analyzing some of my data using the leave-one-out ISC approach and previously determined significance through BrainIAK's bootstrap isc function. It does look to me like the Gang Chen 2017 paper doesn't think that the current implementation is the correct way to do it. However, I wonder if this proposed version might be too conservat

[2020-07-16 20:41] cbaldassano commented on #466
This is actually a great example of why the current implementation is misleading. The leave-one-out values in pop1 look tightly clustered around 0.2, so it seems like it should be obvious that the population mean here is >0. But these values are not independent samples - having a few very good subjects in this population will pull *all* of these points higher. So running a true permutation test (f

[2020-07-17 01:47] CameronTEllis opened #470 "Description of how drift_sigma is used is wrong in fmrisim"
In the doc strings it says that all noise types with the suffix `_sigma` are mixed together to contribute to the total of the temporal variance of noise. However, this is not true for `drift_sigma` in the latest version of fmrisim. Docstrings need to be updated to accommodate this nuance.

[2020-07-17 19:30] snastase commented on #466
Hmm, I'm still unsure what to do about this. As far as I know, nobody has done the work to see how well various randomization tests will control false positive rates (FPRs) for the leave-one-out approach (in the style of Gang Chen's paper(s) on the pairwise approach). I'm fine with putting a disclaimer on these functions that they may not control FPRs (and point users to Gang Chen's work), but tha

[2020-07-17 19:34] snastase commented on #466
@cbaldassano @tristansyates if you're interested (or know anyone else who might be), we could put our heads together and systematically evaluate how well these models control FPRs with simulated data using the leave-one-out approach (in the style of Gang Chen's work). Could turn into a nice little paper...

[2020-07-17 20:38] snastase commented on #466
Starting to look into this simulation—will share soon.

[2020-07-17 23:06] tristansyates commented on #466
Yes, it is inconsistent with the simulation above, which is confusing to me (and I don't see any bugs in my code!). These are the distributions I'm getting for the two different methods with that population one data:

![image](https://user-images.githubusercontent.com/41590417/87836625-b1947900-c85e-11ea-975a-83da1246c718.png)

Is it possible that the number of TRs is making a difference here? At

[2020-07-17 23:44] snastase commented on #466
Okay here's a first pass at getting FPRs for different tests using simulated data: https://github.com/snastase/isc-tests. The notebook should render interactively via Binder ([link](https://mybinder.org/v2/gh/snastase/isc-tests/master); takes awhile to build). Feel free to fork, contribute, etc. I haven't implemented @cbaldassano's proposed method yet. I'm seeing FPRs at ~.10–.15 for a nominal sig

[2020-07-17 23:48] snastase commented on #466
@tristansyates—interesting! I'm curious how `phaseshift_isc` and `timeshift_isc` would measure up here as well.

[2020-07-20 19:52] tristansyates commented on #466
I've never heard of binder before -- it's super cool! I've forked the directory and added @cbaldassano's  proposed method ([here.](https://mybinder.org/v2/gh/tristansyates/isc-tests/master))The FPR rate is 0.05, demonstrating that it is a more conservative test.

The actual fMRI data I've been working with also has some missing time points (we gaze code our participants and remove times when their

[2020-07-20 21:48] tristansyates commented on #466
Oops yep something was wrong with my first test. This is the actual distribution and it mirrors what Chris showed! :

![image](https://user-images.githubusercontent.com/41590417/87989846-c405f100-cab0-11ea-93f0-c95215671ebf.png)

[2020-07-23 11:31] amchagas opened #471 "Add Brainiak to Open Neuroscience"
Hello!

We are reaching out because we would love to have your project listed on [Open Neuroscience](<https://open-neuroscience.com>), and also share information about this project:

Open Neuroscience is a community run project, where we are curating and highlighting open source projects related to neurosciences!

Briefly, we have a website where short descritptions about projects are listed, with

[2020-07-23 20:45] cbaldassano commented on #466
Thanks for setting up that notebook Sam! I created a pull request to add the flipping-timeseries test for comparison, and I just now realized that Tristan has a similar fork. Both Tristan's and mine are getting FPR=0.05 while the current brainiak methods are yielding higher FPRs. I'm not sure how to square this with the plots that Tristan and I were making in our own simulations though - maybe the

[2020-07-24 22:08] Yibeichan opened #472 "Pairwise bootstrap ISC doesn't work"
Hi,

I'm using `bootstrap_isc` with `pairwise=True`. The first time I ran it, I got the error from `assert np.allclose(voxel_iscs, voxel_iscs.T)` because my `isc_data` has nan. When we do a comparison, [`nan` is never equal to `nan`](https://stackoverflow.com/questions/10034149/why-is-nan-not-equal-to-nan). So I applied `np.nan_to_num(isc_data)` and I ran a whole night for a  (378, 161032) ISC dat

[2020-07-27 02:19] peetal opened #473 "FCMA permutation feature selection Acc above chance"
Hello,

I'm using FCMA with Brianiak for my analysis - first thank you for developing this awesome toolbox!

Everything makes sense to me until I started to do the permutation task as mentioned in Wang et al., 2015 for information mapping. Based on my understanding, after I randomized the data, the classification acc (per voxel) I obtain during the feature selection step should be around chance le

[2020-07-27 18:19] CameronTEllis commented on #472
Hello! From my understanding, you diagnosed the problem correctly: `assert np.allclose(voxel_iscs, voxel_iscs.T)` won't work if there are nans, so using `np.nan_to_num` 'fixed' that issue; however, it ran overnight and didn't finish because it is slow to run 1000 bootstraps. You could test if that is the problem by setting `n_bootstraps` to a small number (e.g. 5) and seeing if that finishes.

Mor

[2020-07-27 19:55] snastase commented on #472
Hi @Yibeichan, thanks for pointing this out! Like @CameronTEllis said, you're correct that it breaks when receiving nans specifically when `pairwise=True` because of the `assert np.allclose(voxel_iscs, voxel_iscs.T)` line. This is a bug. The original thought behind that assertion was to ensure that user correctly inputs pairwise ISCs in distance vector format so that `squareform` properly yields a

[2020-07-28 05:25] CameronTEllis commented on #472
@snastase I agree with your suggested fix, it seems like that assertion is unnecessary given the other checks.

[2020-07-28 19:24] mihaic commented on #473
@yidawang, could you please chime in?

[2020-07-28 20:18] yidawang commented on #473
I don't recall the exact precision numbers I got before after permutation. Perhaps you can analyze it from the statistical perspective to see for totally random data, would the top voxels get above chance values. I guess that you may get a normal distribution in terms of precision numbers among all voxels, with mean value around 0.5. I am not sure about the variance though. In any case, if you see

[2020-07-28 21:18] peetal commented on #473
@yidawang Thank you very much for the reply! I get what you suggested and I'll go ahead and check the distribution of voxel-wise classification accuracy.
One thing that still bothers me is that, for a given run of the permutation test, if I made a mask of the top 3000 voxels from feature selection, and then test on the classification accuracy using this mask (i.e., step 3) the ACC I got is above c

[2020-07-28 21:35] yidawang commented on #473
You probably can try one mask of top 3000, and the other mask for the whole brain. Limiting in top 3000 voxels may consistently give you above chance results as they are all informative in some way. DISCLAIMER: I may not remember every detail of FCMA implementation.

[2020-07-29 01:51] peetal commented on #473
Ok that make sense! Thank you @yidawang and @mihaic for the reply!
I'll look into the distribution of voxel-wise acc and also check the clf acc with the full mask. I'll also try the permutation test with randomized label instead of the 4D data. It will take a while for the permutation to run but I'll come back here with what I end up having.

[2020-07-30 05:39] Yibeichan commented on #472
Thank you all! @CameronTEllis yes, I have too many voxels. I tried it on a small set.  It worked. What do you mean **Are all voxels for a given TR nans or are some voxels all nans or is it something between?** Since my input is an ISC matrix with the shape as (num of pairs, num of voxels), I don't have any TR information anymore. So what's your concern?

@snastase do we really need to add `force='

[2020-07-30 06:05] Yibeichan commented on #472
oh yeah, `assert voxel_iscs.shape[0] == voxel_iscs.shape[1]` only checks the shape, but `force='tomatrix'` actually returns you a matrix. But I thought a matrix is default if the input is in the correct shape?

I'm just curious when we will get a vector, not a matrix from `squareform()` if we don't specify `force='tovector'`. I mean, do we have to add `force='tomatrix'` in `_check_isc_input`?

[2020-07-30 16:49] #470 closed

[2020-07-31 17:13] snastase commented on #472
@Yibeichan `squareform` is kind of like a toggle: if you input a distance vector, it outputs the distance matrix; if you input a distance matrix, it outputs the distance vector. Those `assert` statements probably snuck in there when I was initially writing the code (and hadn't thought about `force='tomatrix'`). I don't think the `force='tomatrix'` is strictly necessary given the tests in `_check_i

[2020-07-31 20:05] snastase commented on #449
We've confirmed that this is not really a bug; more that the documentation is unclear as to how two-sample pairwise ISCs are to be supplied to `permutation_isc`. PR #476 should clarify this, so I'm closing this.

[2020-07-31 20:05] #449 closed

[2020-08-10 18:08] CameronTEllis commented on #468
If you have any other questions, feel free to reach out, either via email or gitter. I will close the issue now

[2020-08-10 18:08] #468 closed

[2020-08-10 18:21] mihaic commented on #473
Hi, @peetal. Please remember to update or close this issue when you get results.

[2020-08-12 18:52] peetal commented on #473
Sry for the late update, I think i figured out now. The code for shuffling the 2d data per subject [nVoxels, nTRs] uses np.random.shuffle(data), which by default shuffle the 2d array along the first axis. Thus the spatially relevance was randomized, but the timeseries structures was remained. Thus  the result of the permutation test should still have above chance accuracy, but the top k voxel mask

[2020-08-24 18:19] mihaic commented on #466
You may have noticed I tagged this issue for the upcoming BrainIAK release. Do you think you will converge on a solution in the next few weeks?

[2020-08-26 18:35] manojneuro commented on #473
@peetal thanks for working on this and finding a workaround. It would be great if you could paste sample code of your workaround here. Thanks.

[2020-09-01 15:32] cbaldassano commented on #466
This will probably take a little more discussion to get a complete fix. I do think that [my pull request](https://github.com/snastase/isc-tests/pull/1) (consistent with what Sam and Tristan were seeing) demonstrates that there is a problem with the way things are currently implemented in brainiak. I'm not sure whether we want to just say that the current way has some bias and flag this in the docu

[2020-09-04 18:52] snastase commented on #466
Sorry—lost track of this for a few weeks. I agree with @cbaldassano that this will take a bit more work to fully resolve, so I'm not sure we should hold up the release (I don't have a ton of bandwidth to do it in the next weeks). I don't think we should remove or deprecate the nonparametric tests for leave-one-out ISCs—I'm seeing FPRs .05–.10 across all of these methods (at `n_subjects = 30`, `n_T

[2020-09-04 21:14] cbaldassano commented on #466
I agree, for now maybe we can just add a documentation line mentioning the the LOO permutation test is not guaranteed to strictly control FPR < alpha.

Applying sign-flipping to only the held-out subject is interesting - shouldn't that give large negative (not 0) correlations if there is a real signal? I guess that doesn't matter for null hypothesis testing though (where we only care about false p

[2020-09-05 07:58] eglerean commented on #466
Joining the conversation: circular shifting has also worked well for us, but you need to make sure you shift of enough time points (rule of thumb is one hrf tail ~ 30 seconds). I’ve also used block time shifting, which helps a bit when time series are not that long. First you chunk the time series in block of random size (but long enough to preserve autocorrelation, eg min length ~ 50 seconds), th

[2020-09-30 01:19] Matthew-Ryan1995 opened #481 "fmrisim compute_signal_change"
Hey,

I have been working through the example for the use of fmrisim found at https://github.com/brainiak/brainiak/blob/master/examples/utils/fmrisim_multivariate_example.ipynb and trying to adapt this to my own example.   I think there might be an error in chunks 46 and 47 when computing `noise_func`.

As it stands, `noise_func` and `signal_func` have different shapes (27 x 294 and 294 x 27 respe

[2020-10-01 03:31] CameronTEllis commented on #481
Hi Matt,

Great catch, thanks for finding this. There is a little bit of a quirk here that I will explain a bit but ultimately you are correct there is an error that needs to be fixed.

So the check I added on line 3185 of fmrisim would catch this, but the current version of BrainIAK that you can download using conda doesn't have that update to the code since it was a relatively recent addition. H

[2020-10-01 20:23] #481 closed

[2020-10-14 02:28] mihaic commented on #428
Fixed in #484.

[2020-10-14 02:28] #428 closed

[2020-10-18 08:02] chouhanaryan commented on #394
Hi, is this still open - just checking? I'd like to contribute. If it is, please assign it to me.

[2020-10-29 23:37] peetal opened #486 "FCMA feature selection excludes the best performed voxel"
Hi,

I found this potential issue for FCMA feature selection step, which may lead to excluding the best performed voxel when selecting the top k number of voxels.

At the end of the `fcma_voxel_selection_cv.py`:
[code]
`result` is an iterator of tuples. tuple[0] is the voxel ID, which index the voxel, tuple[1] is that voxel's score. The tuples are ranked, such that the highest performed voxel woul

[2020-11-02 19:07] CameronTEllis commented on #486
@yidawang are you able to look at this?

[2020-11-02 19:27] yidawang commented on #486
The description makes sense to me. I couldn't remember all the details of how fslmaths works. If it is as described above, I am fine with the proposed fix with a 1-based index system. Please submit a PR to fix it. Thanks!

[2020-11-14 23:13] snastase opened #487 "conda install: incompatible with existing python 3.8"
I assume this is a "known" issue, but I'm curious what the recommendation is. When creating newer conda environments, the default python installation is going to be 3.8 (or apparently 3.9 at this point), but our BrainIAK specification is pinned at python <3.8... This means that the conda installation instructions on the [website](https://brainiak.org/docs/installation.html#conda) will only work if

[2020-11-16 19:14] gdoubleyew commented on #487
I see that the python version for conda was incremented from 3.6 to 3.7 in our latest release in October (see history of file brainiak/.conda/bin/build).
I don’t know why 3.7, perhaps we’re being conservative.
I think for now it’s better to update the instructions rather than try to increment this version with another release.

From: Samuel Nastase <notifications@github.com>
Reply-To: brainiak/bra

[2020-12-22 04:37] mshvartsman commented on #412
Hey @lcnature, is BRSA with fixed voxel variances and AR(1) parameters equivalent to MN-RSA with AR(1) temporal covariance and diagonal spatial? I think this is basically why MN-RSA is faster than BRSA in our paper -- if so, this should be doable now that MN-RSA is merged.

[2020-12-22 04:48] mshvartsman commented on #368
The "general interface" I was talking about is basically just the sklearn `Estimator`s we already use as standard in `brainiak`. If someone's feeling fancy, we can add some pointers/tutorials for https://scikit-optimize.github.io/ or https://docs.ray.io/en/master/tune/tutorials/tune-sklearn.html since neuroscientists might not know about those resources. @mihaic up to you if you want to close this

[2020-12-22 04:55] mshvartsman opened #488 "[TFA] Possible inconsistency between code and math"
Looking at Anderson et al. 2016 (https://arxiv.org/pdf/1608.04647.pdf) expression 13 the 2nd term $\Sigma_{\mu}$ is not indexed by $k$. On the other hand, in the code here https://github.com/brainiak/brainiak/blob/master/brainiak/factoranalysis/tfa.py#L725 `template_centers_mean_cov` (which I think is the same term, the "The template prior on covariance of centers' mean") is indexed by `k`. Am I c

[2020-12-22 09:43] lcnature commented on #412
Nice! I remember internally BRSA has a function to do initial fitting based on this simplified model. I just have not got the time to make it a visible function yet.

[2020-12-25 22:11] mshvartsman opened #489 "[matnormal] Matnormal covs should be ported to `tf.linalg.LinearOperator`s when possible"
A lot of the structure-exploiting linear algebra in `brainiak.matnormal` is basically the same as in `tf.linalg.LinearOperator`. I'm not sure if I didn't know about it or it didn't exist in its current form when I did the original implementations, but we can probably remove a lot of code if most `brainiak.matnormal.cov`s are just thin shims around `LinearOperator`s. This would also buy us any futu

[2021-02-02 19:09] mihaic commented on #368
Let's leave it open. Your comment makes it clear.

[2021-02-17 01:05] mihaic opened #491 "funcalign: Add RSRM compatibility with scikit-learn >=0.24"
Starting with version 0.24, scikit-learn enforces the requirement to set parameters passed to estimators as instance attributes:

https://scikit-learn.org/stable/whats_new/v0.24.html#sklearn-base

RSRM has a `gamma` parameter, but it does not set a `gamma` attribute; instead it stores the value in the `lam` attribute:
https://github.com/brainiak/brainiak/blob/master/brainiak/funcalign/rsrm.py#L111

[2021-02-17 17:03] TuKo commented on #491
Yes, renaming it should be fine. Just created a PR

[2021-02-17 20:11] mihaic opened #493 "dev: Fix tests failing after NumPy 1.20 release"
NumPy 1.20 changed the size of `ndarray`:
https://numpy.org/doc/stable/release/1.20.0-notes.html#size-of-np-ndarray-and-np-void-changed

At least one of our dependencies (TensorFlow), requires NumPy <1.20, generating test errors, e.g.:
https://travis-ci.org/github/brainiak/brainiak/jobs/759367709#L673

Until we can require NumPy >=1.20, I think we should require NumPy <1.20.

[2021-02-19 17:12] #491 closed

[2021-02-19 18:46] #493 closed

[2021-04-14 02:46] GMerakis opened #496 "install: PackageNotFoundError"
When trying to install via anaconda, I get the following error:
DOC: https://brainiak.org/docs/installation.html

`conda install -c brainiak -c defaults -c conda-forge brainiak
Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Collecting package metadata (repodata.json): done
Solving environment: failed wi

[2021-04-14 02:46] GMerakis commented on #496
channels have already been added.
not quite sure why...

[2021-04-14 02:59] GMerakis commented on #496
using pip throws error ....

Collecting brainiak
  Using cached brainiak-0.11.tar.gz (6.8 MB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... error
  ERROR: Command errored out with exit status 1:
...
      return hook(config_settings)
    File "C:\Users\yukik\AppData\Local\Temp\pip-build-env-uzorphfj\overlay\Lib\site-packages\setuptools\build_meta.py", line 155,

[2021-04-14 03:35] GMerakis commented on #496
After creating new env this still does not work...

[2021-04-14 16:44] mihaic commented on #496
Hello, @GMerakis! Unfortunately, we do not support Windows. That is why there is no Conda package for Windows. We certainly welcome contributions that add Windows support.

[2021-04-14 16:44] #496 closed

[2021-04-14 20:18] DasDominus opened #498 "Feature: Enable Windows support"
Right now there are some issues when trying to install the package on windows.
This issues tracks the effort to remove the blockers on windows support

[2021-04-14 22:44] DasDominus commented on #498
So after some playing around, what I did:
- clone the repo
- in root of repo, run $pip install -e .

This resulted in the following issues:
1. factoranalysis and fcma does not compile
This is likely due to the default compiler on Windows (I have VS 2019 installed) is MSVC and does not recognize the --std=c++14 flag

I actually ran into the same issue when trying to install on linux (which had gcc/

[2021-04-15 16:10] mihaic commented on #498
Thanks, @DasDominus. This helps.

[2021-04-15 23:09] mihaic commented on #268
I found a plugin that allows nbsphinx to use notebooks outside `docs`:
https://github.com/vidartf/nbsphinx-link

I tested it and it works fine. Before submitting a PR, I need to figure out how to separate documentation building from unit testing, because it will not be feasible to run them together anymore.

[2021-04-15 23:16] mihaic opened #499 "dev: Switch CI from Travis to GitHub"
Travis announced some time ago that travis-ci.org will stop working and now it finally happened. We can either move to travis-ci.com or somewhere else. I propose GitHub.

[2021-04-15 23:53] mihaic commented on #268
MyST-NB is a recent project for executing notebooks in Sphinx. It also works in my simple testing. One advantage over nbsphinx is that it does not depend on Pandoc (which is large and not on PyPI). However, it does not appear to support notebooks outside the Sphinx root:
https://github.com/executablebooks/MyST-NB/issues/297

[2021-04-23 12:07] hugorichard opened #500 "MultiViewICA"
I have developped recently a new method called MultiViewICA.
https://proceedings.neurips.cc/paper/2020/file/de03beffeed9da5f3639a621bcab5dd4-Paper.pdf
It does the same thing as SRM but yields significantly better results.
I currently have a standalone implementation of it here:
https://github.com/hugorichard/multiviewica
In practice, I use SRM to reduce the data and MultiViewICA is applied on the

[2021-04-23 16:00] mihaic commented on #500
Hello, @hugorichard! I think that's a great idea. Aside from `python-picard`, which looks fine, I see no new dependencies.

Let's hear also from our SRM team. @TuKo, @qihongl?

[2021-04-23 16:04] hugorichard commented on #500
Actually I would like to make https://github.com/hugorichard/multiviewica
 a dependency as other people are already relying on this code. Would that be fine with you ?

[2021-04-23 16:05] mihaic commented on #500
In that case, what would the BrainIAK contribution be?

[2021-04-23 16:39] hugorichard commented on #500
This integration of SRM and MultiViewICA

[2021-04-23 16:39] hugorichard commented on #500
so that people can just do MultiViewICA.fit() and it performs first SRM and then MultiViewICA on reduced data.

[2021-04-23 16:45] mihaic commented on #500
I see. It seems to me less compelling than incorporating MultiViewICA, but let's hear from others as well...

[2021-05-03 18:38] lcnature commented on #500
Hi @hugorichard. Thanks for thinking of contributing to BrainIAK! Since the major code is not going to come into BrainIAK, how do you think about making a new example notebook that shows how to use SRM and MultiViewICA together?

[2021-05-03 20:39] hugorichard commented on #500
Hi @lcnature  ! I think that is a great idea. If you think that's interesting, I'll work on that.

[2021-05-05 17:37] mihaic commented on #500
Yes, an example would be great!

[2021-05-24 22:48] mihaic opened #501 "mpiexec hangs with multiprocessing with a non-fork start method"
See the following example:
[code]

[code]

This affects us when running on macOS, where the the start method is "spawn". I will disable the affected tests so CI can pass.

We should probably disable multiprocessing in this situation.

[2021-05-28 01:24] mihaic commented on #268
We ended up going with MyST-NB and it seems to be going well:
https://github.com/brainiak/brainiak/runs/2689575413?check_suite_focus=true#step:6:938

I will leave this issue open until we integrate all the existing notebooks.

[2021-06-16 17:25] fhopp opened #504 "ISC bootstrap suspicious p-values"
Hi everyone,

I am using `from brainiak.isc import bootstrap_isc` to compute ISC across roi-based, pairwise similarity matrices.
Each matrix has 63x63 subjects and is computed via nltools as:

[code]
`data` is simply an array with shape (63, 1175, 50) (63 subs, 1175TRs, 50 ROIs).

I loop over each ROI to construct a similarity matrix:
[code]

Now to the point: I loop over each sim matrix and compu

[2021-06-16 21:34] mihaic commented on #504
Hello, @fhopp! Let's see if @snastase has any insights.

[2021-08-02 16:26] snastase commented on #504
Hi @fhopp, sorry for the delay in responding! The p-value is computed directly from the empirical bootstrap distribution, which results in a discrete set of possible p-values (based on the number of bootstraps). For example, if you use 10000 bootstraps, your p-value is based on the number of the bootstrap statistics your observed statistic exceeds (e.g. 2/10001 = 0.00019998, 4/10001 = 0.00039996,

[2021-09-10 16:40] mihaic commented on #504
@fhopp, please reopen if this is still an issue.

[2021-09-10 16:40] #504 closed

[2021-10-22 21:00] mihaic opened #505 "Avoid setuptools setup_requires deprecation"
Deprecation started in v58.3.0:
https://setuptools.pypa.io/en/latest/history.html#v58-3-0

[2021-11-03 09:32] jrdalenberg opened #506 "Installation on Redhat 8.4 issue."
Hi brainiak devs!

I am trying to install brainiak on Red Hat Enterprise Linux release 8.4 (Ootpa), which is quite a challenge with the ubuntu instructions.

I managed to get the package requirements:
[code]

However, when running `pip install brainiak`, I run into an error in the file `brainiak/factoranalysis/tfa_extension.cpython-36m-x86_64-linux-gnu.so` when trying to build a wheel for brainiak

[2021-11-03 10:39] jrdalenberg commented on #506
Oh, weirdly enough, I got it working now after rebooting.

[2021-11-03 10:39] #506 closed

[2021-11-21 22:00] siyer7 commented on #487
hi there. Having the exact same issue -- so brainiac is not compatible with python 3.8? How can I work around this? This may have been stated in the response above but if so, it went over my not-so-techy brain.

Thanks,
Sid

[2021-12-02 10:10] juanmed opened #507 "HTFA tutorial not working"
Hi,

Thanks for sharing this awesome work. I wanted to inform about some issues with the HTFA tutorial:

1) The small pieman_dataset2.zip is no longer available on the website indicated in the notebook. Downloading the full dataset or any other dataset from the recommended ones takes very long because the bandwidth seems to be limited and the files are huge (multi-gigabyte)
2) Even after downloadi

[2021-12-02 18:08] mihaic commented on #507
Thank you for reporting the issues. The second one is related to new checks scikit-learn introduced (see issue #491).

We would gladly accept a pull request changing `miter` to `max_iter`:
https://github.com/brainiak/brainiak/blob/master/brainiak/factoranalysis/tfa.py#L153

[2021-12-02 18:13] mihaic commented on #507
For the first issue, try:
https://caligari.dartmouth.edu/~jmanning/MIND/pieman_mini/pieman_data2.zip

[2021-12-03 07:26] #507 closed

[2022-01-23 13:55] orko19 opened #509 "ERROR: Could not build wheels for brainiak, which is required to install pyproject.toml-based projects"
Hi,
I am using MACOS Catalina 10.15.
I want to install Brainiak.
I followed to instructions here:
`https://brainiak.org/docs/installation.html`
But I get an error for `python3 -m pip install -U brainiak`:
[code]

Any idea why or what can I do?

[2022-01-24 19:38] mihaic commented on #509
Hello, @orko19! It looks like BrainIAK is using a `clang` that does not support OpenMP. You probably noticed in the [BrainIAK installation instructions]( https://brainiak.org/docs/installation.html) you linked a section about installing LLVM with `brew` and setting up your environment:

export CXX=/usr/local/opt/llvm/bin/clang++

"-Wl,-rpath,/usr/local/opt/llvm/lib $LDFLAGS"
export CPPFLAGS="-I/us

[2022-01-24 20:48] orko19 commented on #509
@mihaic Thanks!
Please see my ~/.bash_profile, I do have these lines:
![image](https://user-images.githubusercontent.com/28626773/150861921-7681ff58-2469-4a61-9744-4cdab957f58f.png)

And when I write` echo $CC`
I do get this result:
`/usr/local/opt/llvm/bin/clang
`
Any idea?

[2022-01-24 23:38] mihaic opened #510 "searchlight: MPI `does not fit in 'int'` error"
From [Gitter](https://gitter.im/brainiak/brainiak?at=61bfe57b62f3a56c818e05bc):

Hello, I'm running a Brainiak searchlight (sl_rad = 3, max_blk_edge = 10, pool_size = 1) and getting errors from mpi4py (trace below). The searchlight loads 253GB of data. I'm using 3 Tiger cluster nodes (120 ranks in total) and the job uses 840GB of memory across all 3 nodes. The log shows an mpi4py error, a quick Go

[2022-03-25 08:58] yushiangsu opened #512 "searchlight did not run through the edge of input data"
I encountered a problem that the `brainiak.searchlight` always return the output have `None` at the edge of data. This is problematic because I did searchlight on native EPI images with minimal preprocessing. Some participants have bigger brain that cover the top and bottom edge of native EPI image. These `None` were produced at top and bottom edge of brain, but these voxels should have eligible s

[2022-03-25 18:20] mihaic commented on #512
Hello, @yushiangsu. Thank you for thoroughly documenting the issues. This is indeed the intended behavior: the outer `sl_rad` voxels are considered padding. We could change the implementation to add and remove the padding automatically, but that would be a backward-incompatible change. Instead, I think we should document the current behavior.

[2022-03-31 21:25] sangfrois opened #513 "``StopIteration`` error in `from_masked_images` method"
I am reaching out to you because I cannot figure by myself a solution for this error.

My code looks like this :
[code]
Where : images are loaded ``nii`` post processed files using ``nilearn.images``  (tried it with ``brainiak.io`` module as well)

Seems to me that a generator object is passed to the method and turned into an iterator. The code [breaks here](https://github.com/brainiak/brainiak/bl

[2022-03-31 22:36] mihaic commented on #513
Hello, @sangfrois. I am sorry to hear about your issue.

Could you add `print(len(images))` before calling `from_masked_images` and share the output?

Did you run the ISC tutorial successfully?

[2022-03-31 22:56] sangfrois commented on #513
Hello @mihaic !

Thank you so much for your fast response. I did run it successfully!

i get :
``TypeError: object of type 'generator' has no len()``

Does that mean I plainly did not correctly postprocess my EPI files ?

[2022-04-01 00:12] mihaic commented on #513
Not necessarily. How about `len(files)`? What is `load_img`? Are you executing exactly the code in the issues or are there maybe other lines you skipped?

[2022-04-01 16:01] sangfrois commented on #513
as I said in the description : ``load_img`` is a utility to load ``.nii.gz`` files from the ``nilearn.image`` module.

``files`` is a list returned by ``glob.glob(path/to/files.nii.gz`` so ``len(files)`` is 6. I load data from 6 subjects.

[2022-04-01 16:16] mihaic commented on #513
Try `images = list(load_img(files))`. If that doesn't work, please paste `load_img` here.

[2022-04-01 17:21] sangfrois commented on #513
OH WOW! @mihaic

I'm sorry, I went ahead of myself, being sure i was listing files correctly, but I think it's the source of my error. I tried it in a interactive shell, and it spitted out empty lists.

[code]
It seems to load files correctly and I don't get the StopIteration again.

Now, i get an ValueError because the mask I import does not have the same shape.

I feel so stupid! Sorry for mobil

[2022-04-01 17:31] mihaic commented on #513
You're welcome. :)

[2022-04-01 17:31] #513 closed

[2022-04-23 12:27] cosmosanalytics opened #514 "Can BrainIAK be used for analysis of Functional Near Infrared Spectroscopy (FNIRS)??"
Can BrainIAK be used for analysis of Functional Near Infrared Spectroscopy (FNIRS)??

[2022-04-25 16:08] mihaic commented on #514
Hello, @cosmosanalytics. Our methods use fMRI data, but maybe some could be ported to other data types. Please have a look at the tutorials and see if can apply to your data:
https://brainiak.org/tutorials

[2022-06-13 23:06] salilabwfu opened #515 "GBRSA import error: Module 'pandas' has no attribute 'Panel'"
I am attempting to follow the tutorial for GBRSA here: https://github.com/brainiak/brainiak/blob/master/examples/reprsimil/bayesian_rsa_example.ipynb but I receive an error that the module 'pandas' has no attribute 'Panel.'

I've followed the installation instructions using Conda. Does GBRSA require an older version of pandas? Thanks in advance!

[2022-06-13 23:15] mihaic commented on #515
Hello, @salilabwfu! Yes, please try a version older than 0.25.

[2022-06-14 00:08] mihaic commented on #515
That install command should have been enough, if you ran it in the same environment where you installed BrainIAK. Could you please paste here the whole error output?

[2022-06-23 03:25] salilabwfu commented on #515
Sorry for my slow response. Here is what I have run:
`conda create -n venv`
`condo activate venv`
`conda install -c brainiak -c defaults -c conda-forge brainiak`
`conda install -c conda-forge pandas=0.24`

When I then start python and attempt to load GBRSA, I get this error message

`from brainiak.reprsimil.brsa import GBRSA`

Traceback (most recent call last):
  File "<stdin>", line 1, in <module

[2022-06-24 03:57] salilabwfu commented on #515
Thanks for your help. I am running MacOS 10.15.5. Here are the commands with the corresponding outputs. Please let me know if I can provide any additional information.

`conda create -n venv`

Collecting package metadata (current_repodata.json): done
Solving environment: done

 Package Plan

  environment location: /Users/anthonysali/miniconda3/envs/NewEnv

Proceed ([y]/n)? y

Preparing transactio

[2022-06-24 17:58] mihaic commented on #515
It looks like the Pandas 0.24 installation was successful. The error should not appear. Can you try the following command?

And to double check, does Conda show the version 0.24 for Pandas?

[2022-06-24 19:14] salilabwfu commented on #515
Thanks again! I'm still stumped:

`python -c "import pandas; print(pandas.Panel)"`
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "/Users/anthonysali/.local/lib/python3.7/site-packages/pandas/__init__.py", line 244, in __getattr__
    raise AttributeError(f"module 'pandas' has no attribute '{name}'")
AttributeError: module 'pandas' has no attribute 'Panel'

`conda

[2022-06-24 20:13] mihaic commented on #515
On my machine, Pandas 0.24 does not produce that error. Can you try the import command in a new environment with just Pandas 0.24?

[2022-07-08 00:01] mihaic opened #517 "Docker image missing dependencies"
[code]
Reported by @KailongPeng on [Gitter](https://gitter.im/brainiak/brainiak?at=62c75ff8ef5ee4488247538c). Thanks!

[2022-08-17 22:14] sajjadtorabian commented on #376
Hello, does anyone know what the reason behind this warning might be?
"WARNING: No voxels associated with any of 164088 nodes"

It seems like no voxels are connected to any of my surface nodes. I've set radius to 100 and this is how I run my queryengine:
qe = disc_surface_queryengine(radius, all_runs_bold_fname, white_surf_fn, pial_surf_fn, source_surf=None)
"all_runs_bold_fname" is my volumetric

[2022-08-17 22:40] mihaic commented on #376
@sajjadtorabian, I think you should address your question to the PyMVPA contributors since it doesn't seem related to BrainIAK:
http://www.pymvpa.org/support.html

[2022-08-22 03:43] yibeichan commented on #515
hello, I had the similar error `module 'pandas' has no attribute 'Panel'` (my conda env is python 3.7) when using `from brainiak.isc import isc`
so I uninstalled `pandas` in my conda env (the same one, I didn't create a new env), then installed `pandas 0.24` using `conda install -c conda-forge pandas=0.24`.
Now I got `ModuleNotFoundError: No module named 'brainiak.isc'` when `from brainiak.isc imp

[2022-08-22 03:58] yibeichan commented on #515
okay, I found the solution, create the new conda env with pandas 0.24 specified, then install brainiak
[code]
 everything works fine `from brainiak.isc import isc` no more problem

[2022-08-22 16:10] mihaic commented on #515
Thanks for sharing your workaround, @yibeichan!

[2022-09-19 20:37] rhodricusack opened #518 "Incorrect control over false positives"
I've been testing the bootstrap_isc and I'm puzzled by the false-positive rate (FPR). I made null data with only standard normal noise for each subject and voxel.
With subject-wise sampling the FPR is lower than expected at around 0.02
With element-wise sampling, the FPR is around 0.09 (inflated, as expected from Chen et al, 2016).

SW false positive rate (alpha=0.05) 0.02
EW false positive rate (

[2022-10-29 17:02] Sarad16 opened #519 "Download data and tutorial once!"
Hi, I need to study searchlight and I want to use the BrainIAK tutorial on colab. Is there a way we don't have to run the following code and download the datasets every time? Because I may study this tutorial many times, it is not sufficient for me to run and download the corresponding data every time since it uses a lot of data!

[2022-11-02 01:55] soukhind2 opened #520 "Statsmodel reference to import AMRA module is outdated in fmrisim"
The package name has changed since statsmodels is now in its 0.13 version. Instead of
from statsmodels.tsa.arima_model import ARMA
the code should be changed to the newer library. Currently, the noise generation is not working.

[2022-11-02 02:05] davidt0x commented on #520
This has been fixed (updated to new API) in https://github.com/brainiak/brainiak/pull/511. Waiting on some further issues to be fixed before merge but feel free to use it now.

[2022-11-02 02:31] soukhind2 commented on #520
Thank you! I changed the lines on my local copy.

[2022-11-02 02:31] #520 closed

[2022-11-02 13:23] Sarad16 opened #521 "# Get the difference from baseline for the two conditions"
In the second tutorial, Data Handling, in the 4th session, why should we do this?
`face_diff = face_activity - np.mean(baseline_activity)
scene_diff = scene_activity - np.mean(baseline_activity)
`

[2022-11-02 13:30] Sarad16 opened #522 "Is there a solution to exercises?"
I was doing exercise 8 from the Data Handling tutorial, but I'm not sure if I did it correctly. Is there a solution to this exercise?